0026 ampersand.smcp       # AMPERSAND
0041 A.smcp               # LATIN CAPITAL LETTER A
0042 B.smcp               # LATIN CAPITAL LETTER B
0043 C.smcp               # LATIN CAPITAL LETTER C
0044 D.smcp               # LATIN CAPITAL LETTER D
0045 E.smcp               # LATIN CAPITAL LETTER E
0046 F.smcp               # LATIN CAPITAL LETTER F
0047 G.smcp               # LATIN CAPITAL LETTER G
0048 H.smcp               # LATIN CAPITAL LETTER H
0049 I.smcp               # LATIN CAPITAL LETTER I
004A J.smcp               # LATIN CAPITAL LETTER J
004B K.smcp               # LATIN CAPITAL LETTER K
004C L.smcp               # LATIN CAPITAL LETTER L
004D M.smcp               # LATIN CAPITAL LETTER M
004E N.smcp               # LATIN CAPITAL LETTER N
004F O.smcp               # LATIN CAPITAL LETTER O
0050 P.smcp               # LATIN CAPITAL LETTER P
0051 Q.smcp               # LATIN CAPITAL LETTER Q
0052 R.smcp               # LATIN CAPITAL LETTER R
0053 S.smcp               # LATIN CAPITAL LETTER S
0054 T.smcp               # LATIN CAPITAL LETTER T
0055 U.smcp               # LATIN CAPITAL LETTER U
0056 V.smcp               # LATIN CAPITAL LETTER V
0057 W.smcp               # LATIN CAPITAL LETTER W
0058 X.smcp               # LATIN CAPITAL LETTER X
0059 Y.smcp               # LATIN CAPITAL LETTER Y
005A Z.smcp               # LATIN CAPITAL LETTER Z
00C0 Agrave.smcp          # LATIN CAPITAL LETTER A WITH GRAVE
00C1 Aacute.smcp          # LATIN CAPITAL LETTER A WITH ACUTE
00C2 Acircumflex.smcp     # LATIN CAPITAL LETTER A WITH CIRCUMFLEX
00C3 Atilde.smcp          # LATIN CAPITAL LETTER A WITH TILDE
00C4 Adieresis.smcp       # LATIN CAPITAL LETTER A WITH DIAERESIS
00C5 Aring.smcp           # LATIN CAPITAL LETTER A WITH RING ABOVE
00C6 AE.smcp              # LATIN CAPITAL LETTER AE
00C7 Ccedilla.smcp        # LATIN CAPITAL LETTER C WITH CEDILLA
00C8 Egrave.smcp          # LATIN CAPITAL LETTER E WITH GRAVE
00C9 Eacute.smcp          # LATIN CAPITAL LETTER E WITH ACUTE
00CA Ecircumflex.smcp     # LATIN CAPITAL LETTER E WITH CIRCUMFLEX
00CB Edieresis.smcp       # LATIN CAPITAL LETTER E WITH DIAERESIS
00CC Igrave.smcp          # LATIN CAPITAL LETTER I WITH GRAVE
00CD Iacute.smcp          # LATIN CAPITAL LETTER I WITH ACUTE
00CE Icircumflex.smcp     # LATIN CAPITAL LETTER I WITH CIRCUMFLEX
00CF Idieresis.smcp       # LATIN CAPITAL LETTER I WITH DIAERESIS
00D0 Eth.smcp             # LATIN CAPITAL LETTER ETH
00D1 Ntilde.smcp          # LATIN CAPITAL LETTER N WITH TILDE
00D2 Ograve.smcp          # LATIN CAPITAL LETTER O WITH GRAVE
00D3 Oacute.smcp          # LATIN CAPITAL LETTER O WITH ACUTE
00D4 Ocircumflex.smcp     # LATIN CAPITAL LETTER O WITH CIRCUMFLEX
00D5 Otilde.smcp          # LATIN CAPITAL LETTER O WITH TILDE
00D6 Odieresis.smcp       # LATIN CAPITAL LETTER O WITH DIAERESIS
00D8 Oslash.smcp          # LATIN CAPITAL LETTER O WITH STROKE
00D9 Ugrave.smcp          # LATIN CAPITAL LETTER U WITH GRAVE
00DA Uacute.smcp          # LATIN CAPITAL LETTER U WITH ACUTE
00DB Ucircumflex.smcp     # LATIN CAPITAL LETTER U WITH CIRCUMFLEX
00DC Udieresis.smcp       # LATIN CAPITAL LETTER U WITH DIAERESIS
00DD Yacute.smcp          # LATIN CAPITAL LETTER Y WITH ACUTE
00DE Thorn.smcp           # LATIN CAPITAL LETTER THORN
0100 Amacron.smcp         # LATIN CAPITAL LETTER A WITH MACRON
0102 Abreve.smcp          # LATIN CAPITAL LETTER A WITH BREVE
0104 Aogonek.smcp         # LATIN CAPITAL LETTER A WITH OGONEK
0106 Cacute.smcp          # LATIN CAPITAL LETTER C WITH ACUTE
0108 Ccircumflex.smcp     # LATIN CAPITAL LETTER C WITH CIRCUMFLEX
010A uni010A.smcp         # LATIN CAPITAL LETTER C WITH DOT ABOVE
010C Ccaron.smcp          # LATIN CAPITAL LETTER C WITH CARON
010E Dcaron.smcp          # LATIN CAPITAL LETTER D WITH CARON
0110 Dcroat.smcp          # LATIN CAPITAL LETTER D WITH STROKE
0112 Emacron.smcp         # LATIN CAPITAL LETTER E WITH MACRON
0114 Ebreve.smcp          # LATIN CAPITAL LETTER E WITH BREVE
0116 Edotaccent.smcp      # LATIN CAPITAL LETTER E WITH DOT ABOVE
0118 Eogonek.smcp         # LATIN CAPITAL LETTER E WITH OGONEK
011A Ecaron.smcp          # LATIN CAPITAL LETTER E WITH CARON
011C Gcircumflex.smcp     # LATIN CAPITAL LETTER G WITH CIRCUMFLEX
011E Gbreve.smcp          # LATIN CAPITAL LETTER G WITH BREVE
0120 uni0120.smcp         # LATIN CAPITAL LETTER G WITH DOT ABOVE
0122 Gcommaaccent.smcp    # LATIN CAPITAL LETTER G WITH CEDILLA
0124 Hcircumflex.smcp     # LATIN CAPITAL LETTER H WITH CIRCUMFLEX
0126 Hbar.smcp            # LATIN CAPITAL LETTER H WITH STROKE
0128 Itilde.smcp          # LATIN CAPITAL LETTER I WITH TILDE
012A Imacron.smcp         # LATIN CAPITAL LETTER I WITH MACRON
012C Ibreve.smcp          # LATIN CAPITAL LETTER I WITH BREVE
012E Iogonek.smcp         # LATIN CAPITAL LETTER I WITH OGONEK
0132 IJ.smcp              # LATIN CAPITAL LIGATURE IJ
0134 Jcircumflex.smcp     # LATIN CAPITAL LETTER J WITH CIRCUMFLEX
0136 Kcommaaccent.smcp    # LATIN CAPITAL LETTER K WITH CEDILLA
0139 Lacute.smcp          # LATIN CAPITAL LETTER L WITH ACUTE
013B Lcommaaccent.smcp    # LATIN CAPITAL LETTER L WITH CEDILLA
013D Lcaron.smcp          # LATIN CAPITAL LETTER L WITH CARON
013F Ldot.smcp            # LATIN CAPITAL LETTER L WITH MIDDLE DOT
0141 Lslash.smcp          # LATIN CAPITAL LETTER L WITH STROKE
0143 Nacute.smcp          # LATIN CAPITAL LETTER N WITH ACUTE
0145 Ncommaaccent.smcp    # LATIN CAPITAL LETTER N WITH CEDILLA
0147 Ncaron.smcp          # LATIN CAPITAL LETTER N WITH CARON
014A Eng.smcp             # LATIN CAPITAL LETTER ENG
014C Omacron.smcp         # LATIN CAPITAL LETTER O WITH MACRON
014E Obreve.smcp          # LATIN CAPITAL LETTER O WITH BREVE
0150 Ohungarumlaut.smcp   # LATIN CAPITAL LETTER O WITH DOUBLE ACUTE
0152 OE.smcp              # LATIN CAPITAL LIGATURE OE
0154 Racute.smcp          # LATIN CAPITAL LETTER R WITH ACUTE
0156 Rcommaaccent.smcp    # LATIN CAPITAL LETTER R WITH CEDILLA
0158 Rcaron.smcp          # LATIN CAPITAL LETTER R WITH CARON
015A Sacute.smcp          # LATIN CAPITAL LETTER S WITH ACUTE
015C Scircumflex.smcp     # LATIN CAPITAL LETTER S WITH CIRCUMFLEX
015E Scedilla.smcp        # LATIN CAPITAL LETTER S WITH CEDILLA
0160 Scaron.smcp          # LATIN CAPITAL LETTER S WITH CARON
0162 uni0162.smcp         # LATIN CAPITAL LETTER T WITH CEDILLA
0164 Tcaron.smcp          # LATIN CAPITAL LETTER T WITH CARON
0166 Tbar.smcp            # LATIN CAPITAL LETTER T WITH STROKE
0168 Utilde.smcp          # LATIN CAPITAL LETTER U WITH TILDE
016A Umacron.smcp         # LATIN CAPITAL LETTER U WITH MACRON
016C Ubreve.smcp          # LATIN CAPITAL LETTER U WITH BREVE
016E Uring.smcp           # LATIN CAPITAL LETTER U WITH RING ABOVE
0170 Uhungarumlaut.smcp   # LATIN CAPITAL LETTER U WITH DOUBLE ACUTE
0172 Uogonek.smcp         # LATIN CAPITAL LETTER U WITH OGONEK
0174 Wcircumflex.smcp     # LATIN CAPITAL LETTER W WITH CIRCUMFLEX
0176 Ycircumflex.smcp     # LATIN CAPITAL LETTER Y WITH CIRCUMFLEX
0178 Ydieresis.smcp       # LATIN CAPITAL LETTER Y WITH DIAERESIS
0179 Zacute.smcp          # LATIN CAPITAL LETTER Z WITH ACUTE
017B Zdotaccent.smcp      # LATIN CAPITAL LETTER Z WITH DOT ABOVE
017D Zcaron.smcp          # LATIN CAPITAL LETTER Z WITH CARON
01FA Aringacute.smcp      # LATIN CAPITAL LETTER A WITH RING ABOVE AND ACUTE
01FC AEacute.smcp         # LATIN CAPITAL LETTER AE WITH ACUTE
01FE Oslashacute.smcp     # LATIN CAPITAL LETTER O WITH STROKE AND ACUTE
0218 Scommaaccent.smcp    # LATIN CAPITAL LETTER S WITH COMMA BELOW
0386 Alphatonos.smcp      # GREEK CAPITAL LETTER ALPHA WITH TONOS
0388 Epsilontonos.smcp    # GREEK CAPITAL LETTER EPSILON WITH TONOS
0389 Etatonos.smcp        # GREEK CAPITAL LETTER ETA WITH TONOS
038A Iotatonos.smcp       # GREEK CAPITAL LETTER IOTA WITH TONOS
038C Omicrontonos.smcp    # GREEK CAPITAL LETTER OMICRON WITH TONOS
038E Upsilontonos.smcp    # GREEK CAPITAL LETTER UPSILON WITH TONOS
038F Omegatonos.smcp      # GREEK CAPITAL LETTER OMEGA WITH TONOS
0391 Alpha.smcp           # GREEK CAPITAL LETTER ALPHA
0392 Beta.smcp            # GREEK CAPITAL LETTER BETA
0393 Gamma.smcp           # GREEK CAPITAL LETTER GAMMA
0394 Delta.smcp           # GREEK CAPITAL LETTER DELTA
0395 Epsilon.smcp         # GREEK CAPITAL LETTER EPSILON
0396 Zeta.smcp            # GREEK CAPITAL LETTER ZETA
0397 Eta.smcp             # GREEK CAPITAL LETTER ETA
0398 Theta.smcp           # GREEK CAPITAL LETTER THETA
0399 Iota.smcp            # GREEK CAPITAL LETTER IOTA
039A Kappa.smcp           # GREEK CAPITAL LETTER KAPPA
039B Lambda.smcp          # GREEK CAPITAL LETTER LAMDA
039C Mu.smcp              # GREEK CAPITAL LETTER MU
039D Nu.smcp              # GREEK CAPITAL LETTER NU
039E Xi.smcp              # GREEK CAPITAL LETTER XI
039F Omicron.smcp         # GREEK CAPITAL LETTER OMICRON
03A0 Pi.smcp              # GREEK CAPITAL LETTER PI
03A1 Rho.smcp             # GREEK CAPITAL LETTER RHO
03A3 Sigma.smcp           # GREEK CAPITAL LETTER SIGMA
03A4 Tau.smcp             # GREEK CAPITAL LETTER TAU
03A5 Upsilon.smcp         # GREEK CAPITAL LETTER UPSILON
03A6 Phi.smcp             # GREEK CAPITAL LETTER PHI
03A7 Chi.smcp             # GREEK CAPITAL LETTER CHI
03A8 Psi.smcp             # GREEK CAPITAL LETTER PSI
03A9 Omega.smcp           # GREEK CAPITAL LETTER OMEGA
03AA Iotadieresis.smcp    # GREEK CAPITAL LETTER IOTA WITH DIALYTIKA
03AB Upsilondieresis.smcp # GREEK CAPITAL LETTER UPSILON WITH DIALYTIKA
0401 uni0401.smcp         # CYRILLIC CAPITAL LETTER IO
0402 uni0402.smcp         # CYRILLIC CAPITAL LETTER DJE
0403 uni0403.smcp         # CYRILLIC CAPITAL LETTER GJE
0404 uni0404.smcp         # CYRILLIC CAPITAL LETTER UKRAINIAN IE
0405 uni0405.smcp         # CYRILLIC CAPITAL LETTER DZE
0406 uni0406.smcp         # CYRILLIC CAPITAL LETTER BYELORUSSIAN-UKRAINIAN I
0407 uni0407.smcp         # CYRILLIC CAPITAL LETTER YI
0408 uni0408.smcp         # CYRILLIC CAPITAL LETTER JE
0409 uni0409.smcp         # CYRILLIC CAPITAL LETTER LJE
040A uni040A.smcp         # CYRILLIC CAPITAL LETTER NJE
040B uni040B.smcp         # CYRILLIC CAPITAL LETTER TSHE
040C uni040C.smcp         # CYRILLIC CAPITAL LETTER KJE
040E uni040E.smcp         # CYRILLIC CAPITAL LETTER SHORT U
040F uni040F.smcp         # CYRILLIC CAPITAL LETTER DZHE
0410 uni0410.smcp         # CYRILLIC CAPITAL LETTER A
0411 uni0411.smcp         # CYRILLIC CAPITAL LETTER BE
0412 uni0412.smcp         # CYRILLIC CAPITAL LETTER VE
0413 uni0413.smcp         # CYRILLIC CAPITAL LETTER GHE
0414 uni0414.smcp         # CYRILLIC CAPITAL LETTER DE
0415 uni0415.smcp         # CYRILLIC CAPITAL LETTER IE
0416 uni0416.smcp         # CYRILLIC CAPITAL LETTER ZHE
0417 uni0417.smcp         # CYRILLIC CAPITAL LETTER ZE
0418 uni0418.smcp         # CYRILLIC CAPITAL LETTER I
0419 uni0419.smcp         # CYRILLIC CAPITAL LETTER SHORT I
041A uni041A.smcp         # CYRILLIC CAPITAL LETTER KA
041B uni041B.smcp         # CYRILLIC CAPITAL LETTER EL
041C uni041C.smcp         # CYRILLIC CAPITAL LETTER EM
041D uni041D.smcp         # CYRILLIC CAPITAL LETTER EN
041E uni041E.smcp         # CYRILLIC CAPITAL LETTER O
041F uni041F.smcp         # CYRILLIC CAPITAL LETTER PE
0420 uni0420.smcp         # CYRILLIC CAPITAL LETTER ER
0421 uni0421.smcp         # CYRILLIC CAPITAL LETTER ES
0422 uni0422.smcp         # CYRILLIC CAPITAL LETTER TE
0423 uni0423.smcp         # CYRILLIC CAPITAL LETTER U
0424 uni0424.smcp         # CYRILLIC CAPITAL LETTER EF
0425 uni0425.smcp         # CYRILLIC CAPITAL LETTER HA
0426 uni0426.smcp         # CYRILLIC CAPITAL LETTER TSE
0427 uni0427.smcp         # CYRILLIC CAPITAL LETTER CHE
0428 uni0428.smcp         # CYRILLIC CAPITAL LETTER SHA
0429 uni0429.smcp         # CYRILLIC CAPITAL LETTER SHCHA
042A uni042A.smcp         # CYRILLIC CAPITAL LETTER HARD SIGN
042B uni042B.smcp         # CYRILLIC CAPITAL LETTER YERU
042C uni042C.smcp         # CYRILLIC CAPITAL LETTER SOFT SIGN
042D uni042D.smcp         # CYRILLIC CAPITAL LETTER E
042E uni042E.smcp         # CYRILLIC CAPITAL LETTER YU
042F uni042F.smcp         # CYRILLIC CAPITAL LETTER YA
0490 uni0490.smcp         # CYRILLIC CAPITAL LETTER GHE WITH UPTURN
1E80 Wgrave.smcp          # LATIN CAPITAL LETTER W WITH GRAVE
1E82 Wacute.smcp          # LATIN CAPITAL LETTER W WITH ACUTE
1E84 Wdieresis.smcp       # LATIN CAPITAL LETTER W WITH DIAERESIS
1E9E Germandbls.smcp      # LATIN CAPITAL LETTER SHARP S
1EF2 Ygrave.smcp          # LATIN CAPITAL LETTER Y WITH GRAVE
