0041 A.unic               # LATIN CAPITAL LETTER A
0045 E.unic               # LATIN CAPITAL LETTER E
004D M.unic               # LATIN CAPITAL LETTER M
004E N.unic               # LATIN CAPITAL LETTER N
0055 U.unic               # LATIN CAPITAL LETTER U
0061 A.unic               # LATIN SMALL LETTER A
0062 B                    # LATIN SMALL LETTER B
0063 C                    # LATIN SMALL LETTER C
0064 D                    # LATIN SMALL LETTER D
0065 E.unic               # LATIN SMALL LETTER E
0066 F                    # LATIN SMALL LETTER F
0067 G                    # LATIN SMALL LETTER G
0068 H                    # LATIN SMALL LETTER H
0069 I                    # LATIN SMALL LETTER I
006A J                    # LATIN SMALL LETTER J
006B K                    # LATIN SMALL LETTER K
006C L                    # LATIN SMALL LETTER L
006D M.unic               # LATIN SMALL LETTER M
006E N.unic               # LATIN SMALL LETTER N
006F O                    # LATIN SMALL LETTER O
0070 P                    # LATIN SMALL LETTER P
0071 Q                    # LATIN SMALL LETTER Q
0072 R                    # LATIN SMALL LETTER R
0073 S                    # LATIN SMALL LETTER S
0074 T                    # LATIN SMALL LETTER T
0075 U.unic               # LATIN SMALL LETTER U
0076 V                    # LATIN SMALL LETTER V
0077 W                    # LATIN SMALL LETTER W
0078 X                    # LATIN SMALL LETTER X
0079 Y                    # LATIN SMALL LETTER Y
007A Z                    # LATIN SMALL LETTER Z
00C0 Agrave.unic          # LATIN CAPITAL LETTER A WITH GRAVE
00C1 Aacute.unic          # LATIN CAPITAL LETTER A WITH ACUTE
00C2 Acircumflex.unic     # LATIN CAPITAL LETTER A WITH CIRCUMFLEX
00C3 Atilde.unic          # LATIN CAPITAL LETTER A WITH TILDE
00C4 Adieresis.unic       # LATIN CAPITAL LETTER A WITH DIAERESIS
00C5 Aring.unic           # LATIN CAPITAL LETTER A WITH RING ABOVE
00C8 Egrave.unic          # LATIN CAPITAL LETTER E WITH GRAVE
00C9 Eacute.unic          # LATIN CAPITAL LETTER E WITH ACUTE
00CA Ecircumflex.unic     # LATIN CAPITAL LETTER E WITH CIRCUMFLEX
00CB Edieresis.unic       # LATIN CAPITAL LETTER E WITH DIAERESIS
00D1 Ntilde.unic          # LATIN CAPITAL LETTER N WITH TILDE
00D9 Ugrave.unic          # LATIN CAPITAL LETTER U WITH GRAVE
00DA Uacute.unic          # LATIN CAPITAL LETTER U WITH ACUTE
00DC Udieresis.unic       # LATIN CAPITAL LETTER U WITH DIAERESIS
00E0 Agrave.unic          # LATIN SMALL LETTER A WITH GRAVE
00E1 Aacute.unic          # LATIN SMALL LETTER A WITH ACUTE
00E2 Acircumflex.unic     # LATIN SMALL LETTER A WITH CIRCUMFLEX
00E3 Atilde.unic          # LATIN SMALL LETTER A WITH TILDE
00E4 Adieresis.unic       # LATIN SMALL LETTER A WITH DIAERESIS
00E5 Aring.unic           # LATIN SMALL LETTER A WITH RING ABOVE
00E6 AE                   # LATIN SMALL LETTER AE
00E7 Ccedilla             # LATIN SMALL LETTER C WITH CEDILLA
00E8 Egrave.unic          # LATIN SMALL LETTER E WITH GRAVE
00E9 Eacute.unic          # LATIN SMALL LETTER E WITH ACUTE
00EA Ecircumflex.unic     # LATIN SMALL LETTER E WITH CIRCUMFLEX
00EB Edieresis.unic       # LATIN SMALL LETTER E WITH DIAERESIS
00EC Igrave               # LATIN SMALL LETTER I WITH GRAVE
00ED Iacute               # LATIN SMALL LETTER I WITH ACUTE
00EE Icircumflex          # LATIN SMALL LETTER I WITH CIRCUMFLEX
00EF Idieresis            # LATIN SMALL LETTER I WITH DIAERESIS
00F0 Eth                  # LATIN SMALL LETTER ETH
00F1 Ntilde.unic          # LATIN SMALL LETTER N WITH TILDE
00F2 Ograve               # LATIN SMALL LETTER O WITH GRAVE
00F3 Oacute               # LATIN SMALL LETTER O WITH ACUTE
00F4 Ocircumflex          # LATIN SMALL LETTER O WITH CIRCUMFLEX
00F5 Otilde               # LATIN SMALL LETTER O WITH TILDE
00F6 Odieresis            # LATIN SMALL LETTER O WITH DIAERESIS
00F8 Oslash               # LATIN SMALL LETTER O WITH STROKE
00F9 Ugrave.unic          # LATIN SMALL LETTER U WITH GRAVE
00FA Uacute.unic          # LATIN SMALL LETTER U WITH ACUTE
00FB Ucircumflex          # LATIN SMALL LETTER U WITH CIRCUMFLEX
00FC Udieresis.unic       # LATIN SMALL LETTER U WITH DIAERESIS
00FD Yacute               # LATIN SMALL LETTER Y WITH ACUTE
00FE Thorn                # LATIN SMALL LETTER THORN
00FF Ydieresis            # LATIN SMALL LETTER Y WITH DIAERESIS
0100 Amacron.unic         # LATIN CAPITAL LETTER A WITH MACRON
0101 Amacron.unic         # LATIN SMALL LETTER A WITH MACRON
0102 Abreve.unic          # LATIN CAPITAL LETTER A WITH BREVE
0103 Abreve.unic          # LATIN SMALL LETTER A WITH BREVE
0104 Aogonek.unic         # LATIN CAPITAL LETTER A WITH OGONEK
0105 Aogonek.unic         # LATIN SMALL LETTER A WITH OGONEK
0107 Cacute               # LATIN SMALL LETTER C WITH ACUTE
0109 Ccircumflex          # LATIN SMALL LETTER C WITH CIRCUMFLEX
010B uni010A              # LATIN SMALL LETTER C WITH DOT ABOVE
010D Ccaron               # LATIN SMALL LETTER C WITH CARON
010F Dcaron               # LATIN SMALL LETTER D WITH CARON
0111 Dcroat               # LATIN SMALL LETTER D WITH STROKE
0112 Emacron.unic         # LATIN CAPITAL LETTER E WITH MACRON
0113 Emacron.unic         # LATIN SMALL LETTER E WITH MACRON
0114 Ebreve.unic          # LATIN CAPITAL LETTER E WITH BREVE
0115 Ebreve.unic          # LATIN SMALL LETTER E WITH BREVE
0116 Edotaccent.unic      # LATIN CAPITAL LETTER E WITH DOT ABOVE
0117 Edotaccent.unic      # LATIN SMALL LETTER E WITH DOT ABOVE
0118 Eogonek.unic         # LATIN CAPITAL LETTER E WITH OGONEK
0119 Eogonek.unic         # LATIN SMALL LETTER E WITH OGONEK
011A Ecaron.unic          # LATIN CAPITAL LETTER E WITH CARON
011B Ecaron.unic          # LATIN SMALL LETTER E WITH CARON
011D Gcircumflex          # LATIN SMALL LETTER G WITH CIRCUMFLEX
011F Gbreve               # LATIN SMALL LETTER G WITH BREVE
0121 uni0120              # LATIN SMALL LETTER G WITH DOT ABOVE
0123 Gcommaaccent         # LATIN SMALL LETTER G WITH CEDILLA
0125 Hcircumflex          # LATIN SMALL LETTER H WITH CIRCUMFLEX
0127 Hbar                 # LATIN SMALL LETTER H WITH STROKE
0129 Itilde               # LATIN SMALL LETTER I WITH TILDE
012B Imacron              # LATIN SMALL LETTER I WITH MACRON
012D Ibreve               # LATIN SMALL LETTER I WITH BREVE
012F Iogonek              # LATIN SMALL LETTER I WITH OGONEK
0133 IJ                   # LATIN SMALL LIGATURE IJ
0135 Jcircumflex          # LATIN SMALL LETTER J WITH CIRCUMFLEX
0137 Kcommaaccent         # LATIN SMALL LETTER K WITH CEDILLA
013A Lacute               # LATIN SMALL LETTER L WITH ACUTE
013C Lcommaaccent         # LATIN SMALL LETTER L WITH CEDILLA
013E Lcaron               # LATIN SMALL LETTER L WITH CARON
0140 Ldot                 # LATIN SMALL LETTER L WITH MIDDLE DOT
0143 Nacute.unic          # LATIN CAPITAL LETTER N WITH ACUTE
0144 Nacute.unic          # LATIN SMALL LETTER N WITH ACUTE
0145 Ncommaaccent.unic    # LATIN CAPITAL LETTER N WITH CEDILLA
0146 Ncommaaccent.unic    # LATIN SMALL LETTER N WITH CEDILLA
0147 Ncaron.unic          # LATIN CAPITAL LETTER N WITH CARON
0148 Ncaron.unic          # LATIN SMALL LETTER N WITH CARON
014B Eng                  # LATIN SMALL LETTER ENG
014D Omacron              # LATIN SMALL LETTER O WITH MACRON
014F Obreve               # LATIN SMALL LETTER O WITH BREVE
0151 Ohungarumlaut        # LATIN SMALL LETTER O WITH DOUBLE ACUTE
0153 OE                   # LATIN SMALL LIGATURE OE
0155 Racute               # LATIN SMALL LETTER R WITH ACUTE
0157 Rcommaaccent         # LATIN SMALL LETTER R WITH CEDILLA
0159 Rcaron               # LATIN SMALL LETTER R WITH CARON
015B Sacute               # LATIN SMALL LETTER S WITH ACUTE
015D Scircumflex          # LATIN SMALL LETTER S WITH CIRCUMFLEX
015F Scedilla             # LATIN SMALL LETTER S WITH CEDILLA
0161 Scaron               # LATIN SMALL LETTER S WITH CARON
0163 uni0162              # LATIN SMALL LETTER T WITH CEDILLA
0165 Tcaron               # LATIN SMALL LETTER T WITH CARON
0167 Tbar                 # LATIN SMALL LETTER T WITH STROKE
0168 Utilde.unic          # LATIN CAPITAL LETTER U WITH TILDE
0169 Utilde.unic          # LATIN SMALL LETTER U WITH TILDE
016A Umacron.unic         # LATIN CAPITAL LETTER U WITH MACRON
016B Umacron.unic         # LATIN SMALL LETTER U WITH MACRON
016C Ubreve.unic          # LATIN CAPITAL LETTER U WITH BREVE
016D Ubreve.unic          # LATIN SMALL LETTER U WITH BREVE
016E Uring.unic           # LATIN CAPITAL LETTER U WITH RING ABOVE
016F Uring.unic           # LATIN SMALL LETTER U WITH RING ABOVE
0170 Uhungarumlaut.unic   # LATIN CAPITAL LETTER U WITH DOUBLE ACUTE
0171 Uhungarumlaut.unic   # LATIN SMALL LETTER U WITH DOUBLE ACUTE
0172 Uogonek.unic         # LATIN CAPITAL LETTER U WITH OGONEK
0173 Uogonek.unic         # LATIN SMALL LETTER U WITH OGONEK
0175 Wcircumflex          # LATIN SMALL LETTER W WITH CIRCUMFLEX
0177 Ycircumflex          # LATIN SMALL LETTER Y WITH CIRCUMFLEX
017A Zacute               # LATIN SMALL LETTER Z WITH ACUTE
017C Zdotaccent           # LATIN SMALL LETTER Z WITH DOT ABOVE
017E Zcaron               # LATIN SMALL LETTER Z WITH CARON
01FA Aringacute.unic      # LATIN CAPITAL LETTER A WITH RING ABOVE AND ACUTE
01FB Aringacute.unic      # LATIN SMALL LETTER A WITH RING ABOVE AND ACUTE
01FD AEacute              # LATIN SMALL LETTER AE WITH ACUTE
01FF Oslashacute          # LATIN SMALL LETTER O WITH STROKE AND ACUTE
0219 uni0218              # LATIN SMALL LETTER S WITH COMMA BELOW
1E81 Wgrave               # LATIN SMALL LETTER W WITH GRAVE
1E83 Wacute               # LATIN SMALL LETTER W WITH ACUTE
1E85 Wdieresis            # LATIN SMALL LETTER W WITH DIAERESIS
1EF3 Ygrave               # LATIN SMALL LETTER Y WITH GRAVE
