<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>schwa</key>
  <dict>
    <key>uni0442</key>
    <integer>-13</integer>
    <key>v</key>
    <integer>-16</integer>
    <key>quotesingle</key>
    <integer>-47</integer>
  </dict>
  <key>T.smcp</key>
  <dict>
    <key>Y.smcp</key>
    <integer>16</integer>
    <key>V.smcp</key>
    <integer>16</integer>
  </dict>
  <key>R.smcp</key>
  <dict>
    <key>Y.smcp</key>
    <integer>-22</integer>
    <key>W.smcp</key>
    <integer>-13</integer>
    <key>V.smcp</key>
    <integer>-18</integer>
    <key>T.smcp</key>
    <integer>-17</integer>
  </dict>
  <key>Q.smcp</key>
  <dict>
    <key>Y.smcp</key>
    <integer>-33</integer>
    <key>W.smcp</key>
    <integer>-18</integer>
    <key>V.smcp</key>
    <integer>-26</integer>
    <key>T.smcp</key>
    <integer>-28</integer>
  </dict>
  <key>O.smcp</key>
  <dict>
    <key>Y.smcp</key>
    <integer>-27</integer>
    <key>X.smcp</key>
    <integer>-25</integer>
    <key>V.smcp</key>
    <integer>-18</integer>
    <key>T.smcp</key>
    <integer>-22</integer>
  </dict>
  <key>L.smcp</key>
  <dict>
    <key>Y.smcp</key>
    <integer>-95</integer>
    <key>W.smcp</key>
    <integer>-53</integer>
    <key>V.smcp</key>
    <integer>-91</integer>
    <key>U.smcp</key>
    <integer>-25</integer>
    <key>T.smcp</key>
    <integer>-86</integer>
    <key>Q.smcp</key>
    <integer>-20</integer>
    <key>O.smcp</key>
    <integer>-21</integer>
  </dict>
  <key>K.smcp</key>
  <dict>
    <key>Q.smcp</key>
    <integer>-26</integer>
    <key>O.smcp</key>
    <integer>-26</integer>
  </dict>
  <key>D.smcp</key>
  <dict>
    <key>W.smcp</key>
    <integer>-13</integer>
    <key>V.smcp</key>
    <integer>-22</integer>
  </dict>
  <key>A.smcp</key>
  <dict>
    <key>Y.smcp</key>
    <integer>-101</integer>
    <key>W.smcp</key>
    <integer>-50</integer>
    <key>V.smcp</key>
    <integer>-91</integer>
    <key>U.smcp</key>
    <integer>-25</integer>
    <key>T.smcp</key>
    <integer>-100</integer>
    <key>Q.smcp</key>
    <integer>-17</integer>
    <key>O.smcp</key>
    <integer>-17</integer>
    <key>G.smcp</key>
    <integer>-17</integer>
    <key>C.smcp</key>
    <integer>-17</integer>
  </dict>
  <key>quoteright</key>
  <dict>
    <key>s</key>
    <integer>-192</integer>
    <key>o</key>
    <integer>-152</integer>
    <key>c</key>
    <integer>-192</integer>
  </dict>
  <key>uni0481</key>
  <dict>
    <key>quotesingle</key>
    <integer>-23</integer>
  </dict>
  <key>uni0454</key>
  <dict>
    <key>quotesingle</key>
    <integer>-42</integer>
  </dict>
  <key>uni044E</key>
  <dict>
    <key>uni043B</key>
    <integer>-16</integer>
    <key>uni0434</key>
    <integer>-21</integer>
    <key>x</key>
    <integer>-20</integer>
    <key>v</key>
    <integer>-15</integer>
    <key>n</key>
    <integer>-22</integer>
  </dict>
  <key>uni044C</key>
  <dict>
    <key>uni050F</key>
    <integer>-147</integer>
    <key>uni0507</key>
    <integer>-17</integer>
    <key>uni0505</key>
    <integer>-20</integer>
    <key>uni04B9</key>
    <integer>-63</integer>
    <key>uni04A1</key>
    <integer>-230</integer>
    <key>uni047F</key>
    <integer>-36</integer>
    <key>uni0461</key>
    <integer>-38</integer>
    <key>uni0447</key>
    <integer>-23</integer>
    <key>uni0442</key>
    <integer>-137</integer>
    <key>x</key>
    <integer>-13</integer>
    <key>v</key>
    <integer>-83</integer>
    <key>quotesingle</key>
    <integer>-188</integer>
  </dict>
  <key>uni0449</key>
  <dict>
    <key>uni050F</key>
    <integer>-36</integer>
    <key>uni04B9</key>
    <integer>-36</integer>
    <key>uni04A1</key>
    <integer>-147</integer>
    <key>uni0447</key>
    <integer>-36</integer>
    <key>uni0442</key>
    <integer>-36</integer>
    <key>uni043B</key>
    <integer>17</integer>
    <key>uni0434</key>
    <integer>22</integer>
    <key>c</key>
    <integer>-22</integer>
  </dict>
  <key>uni0446</key>
  <dict>
    <key>uni050F</key>
    <integer>-20</integer>
    <key>uni04B9</key>
    <integer>-20</integer>
    <key>uni04A1</key>
    <integer>-20</integer>
    <key>uni044F</key>
    <integer>15</integer>
    <key>uni0447</key>
    <integer>-20</integer>
    <key>uni0442</key>
    <integer>-20</integer>
    <key>uni043B</key>
    <integer>20</integer>
    <key>uni0434</key>
    <integer>25</integer>
  </dict>
  <key>uni0442</key>
  <dict>
    <key>uni0507</key>
    <integer>13</integer>
    <key>uni0505</key>
    <integer>13</integer>
    <key>uni047F</key>
    <integer>15</integer>
    <key>uni047B</key>
    <integer>-25</integer>
    <key>uni043B</key>
    <integer>-51</integer>
    <key>uni0434</key>
    <integer>-70</integer>
    <key>phi</key>
    <integer>-10</integer>
    <key>sigma1</key>
    <integer>-32</integer>
    <key>rho</key>
    <integer>-30</integer>
    <key>delta</key>
    <integer>-64</integer>
    <key>v</key>
    <integer>13</integer>
    <key>o</key>
    <integer>-27</integer>
    <key>f</key>
    <integer>16</integer>
    <key>c</key>
    <integer>-40</integer>
    <key>a</key>
    <integer>-20</integer>
    <key>quotesingle</key>
    <integer>16</integer>
  </dict>
  <key>uni043A</key>
  <dict>
    <key>Q.smcp</key>
    <integer>-26</integer>
    <key>O.smcp</key>
    <integer>-26</integer>
    <key>G.smcp</key>
    <integer>-28</integer>
    <key>C.smcp</key>
    <integer>-26</integer>
    <key>uni047B</key>
    <integer>-26</integer>
    <key>o</key>
    <integer>-26</integer>
    <key>c</key>
    <integer>-20</integer>
  </dict>
  <key>uni0437</key>
  <dict>
    <key>quotesingle</key>
    <integer>-23</integer>
  </dict>
  <key>uni0434</key>
  <dict>
    <key>uni050F</key>
    <integer>-23</integer>
    <key>uni04B9</key>
    <integer>-23</integer>
    <key>uni04A1</key>
    <integer>-23</integer>
    <key>uni044A</key>
    <integer>-48</integer>
    <key>uni0447</key>
    <integer>-33</integer>
    <key>uni0442</key>
    <integer>-33</integer>
    <key>uni0434</key>
    <integer>45</integer>
  </dict>
  <key>uni0433</key>
  <dict>
    <key>uni047B</key>
    <integer>18</integer>
    <key>uni043B</key>
    <integer>-50</integer>
    <key>uni0434</key>
    <integer>-108</integer>
    <key>o</key>
    <integer>-5</integer>
    <key>c</key>
    <integer>-5</integer>
  </dict>
  <key>uni0432</key>
  <dict>
    <key>uni050F</key>
    <integer>-43</integer>
    <key>uni04A1</key>
    <integer>-63</integer>
    <key>uni0461</key>
    <integer>-13</integer>
    <key>uni0442</key>
    <integer>-35</integer>
    <key>v</key>
    <integer>-33</integer>
    <key>n</key>
    <integer>-15</integer>
    <key>quotesingle</key>
    <integer>-17</integer>
  </dict>
  <key>uni0431</key>
  <dict>
    <key>uni050F</key>
    <integer>-41</integer>
    <key>uni04A1</key>
    <integer>-71</integer>
    <key>uni047F</key>
    <integer>-18</integer>
    <key>uni0461</key>
    <integer>-15</integer>
    <key>uni0442</key>
    <integer>-32</integer>
    <key>uni0434</key>
    <integer>-22</integer>
    <key>x</key>
    <integer>-50</integer>
    <key>n</key>
    <integer>-21</integer>
  </dict>
  <key>uni042F</key>
  <dict>
    <key>Y</key>
    <integer>-16</integer>
    <key>T</key>
    <integer>-26</integer>
  </dict>
  <key>uni042E</key>
  <dict>
    <key>uni043B</key>
    <integer>-26</integer>
    <key>uni0434</key>
    <integer>-55</integer>
    <key>uni0423</key>
    <integer>-88</integer>
    <key>uni041B</key>
    <integer>-65</integer>
    <key>uni0414</key>
    <integer>-58</integer>
    <key>X</key>
    <integer>-35</integer>
    <key>T</key>
    <integer>-37</integer>
  </dict>
  <key>uni042D</key>
  <dict>
    <key>uni050E</key>
    <integer>-45</integer>
    <key>uni043B</key>
    <integer>-17</integer>
    <key>uni0423</key>
    <integer>-58</integer>
    <key>uni041B</key>
    <integer>-33</integer>
    <key>uni0414</key>
    <integer>-37</integer>
    <key>Y</key>
    <integer>-65</integer>
    <key>X</key>
    <integer>-63</integer>
    <key>T</key>
    <integer>-36</integer>
  </dict>
  <key>uni042C</key>
  <dict>
    <key>uni050F</key>
    <integer>-68</integer>
    <key>uni050E</key>
    <integer>-220</integer>
    <key>uni0506</key>
    <integer>-25</integer>
    <key>uni0504</key>
    <integer>-68</integer>
    <key>uni04BC</key>
    <integer>-41</integer>
    <key>uni04B8</key>
    <integer>-71</integer>
    <key>uni04A1</key>
    <integer>-92</integer>
    <key>uni0442</key>
    <integer>-71</integer>
    <key>uni042C</key>
    <integer>-36</integer>
    <key>uni0427</key>
    <integer>-111</integer>
    <key>uni0423</key>
    <integer>-156</integer>
    <key>uni041B</key>
    <integer>-13</integer>
    <key>x</key>
    <integer>-68</integer>
    <key>Y</key>
    <integer>-233</integer>
    <key>X</key>
    <integer>-80</integer>
    <key>V</key>
    <integer>-150</integer>
    <key>T</key>
    <integer>-231</integer>
    <key>quotesingle</key>
    <integer>-100</integer>
  </dict>
  <key>uni0429</key>
  <dict>
    <key>uni050F</key>
    <integer>-71</integer>
    <key>uni050E</key>
    <integer>-72</integer>
    <key>uni0506</key>
    <integer>-102</integer>
    <key>uni0504</key>
    <integer>-102</integer>
    <key>uni04B9</key>
    <integer>-50</integer>
    <key>uni04B8</key>
    <integer>-93</integer>
    <key>uni04A1</key>
    <integer>-91</integer>
    <key>uni0447</key>
    <integer>-60</integer>
    <key>uni0442</key>
    <integer>-51</integer>
    <key>uni043B</key>
    <integer>28</integer>
    <key>uni0434</key>
    <integer>22</integer>
    <key>uni042D</key>
    <integer>-15</integer>
    <key>uni042C</key>
    <integer>-32</integer>
    <key>uni0427</key>
    <integer>-113</integer>
    <key>uni0423</key>
    <integer>-67</integer>
    <key>uni041B</key>
    <integer>17</integer>
    <key>uni0414</key>
    <integer>23</integer>
    <key>n</key>
    <integer>-31</integer>
    <key>Y</key>
    <integer>-52</integer>
    <key>X</key>
    <integer>17</integer>
    <key>V</key>
    <integer>-82</integer>
    <key>T</key>
    <integer>-142</integer>
    <key>A</key>
    <integer>8</integer>
  </dict>
  <key>uni0423</key>
  <dict>
    <key>uni050E</key>
    <integer>31</integer>
    <key>uni050B</key>
    <integer>-41</integer>
    <key>uni0500</key>
    <integer>-193</integer>
    <key>uni04BD</key>
    <integer>-47</integer>
    <key>uni04B9</key>
    <integer>-58</integer>
    <key>uni04A7</key>
    <integer>-60</integer>
    <key>uni049D</key>
    <integer>-60</integer>
    <key>uni0491</key>
    <integer>-67</integer>
    <key>uni048F</key>
    <integer>-83</integer>
    <key>uni047B</key>
    <integer>-102</integer>
    <key>uni045F</key>
    <integer>-90</integer>
    <key>uni044F</key>
    <integer>-107</integer>
    <key>uni044B</key>
    <integer>-51</integer>
    <key>uni0447</key>
    <integer>-48</integer>
    <key>uni043B</key>
    <integer>-106</integer>
    <key>uni0437</key>
    <integer>-132</integer>
    <key>uni0434</key>
    <integer>-203</integer>
    <key>uni0432</key>
    <integer>-60</integer>
    <key>uni042C</key>
    <integer>12</integer>
    <key>uni041B</key>
    <integer>-97</integer>
    <key>uni0414</key>
    <integer>-102</integer>
    <key>s</key>
    <integer>-87</integer>
    <key>o</key>
    <integer>-113</integer>
    <key>n</key>
    <integer>-52</integer>
    <key>c</key>
    <integer>-93</integer>
    <key>a</key>
    <integer>-111</integer>
    <key>Y</key>
    <integer>52</integer>
    <key>T</key>
    <integer>22</integer>
    <key>O</key>
    <integer>-48</integer>
    <key>A</key>
    <integer>-183</integer>
    <key>period</key>
    <integer>-243</integer>
    <key>hyphen</key>
    <integer>-168</integer>
  </dict>
  <key>uni0417</key>
  <dict>
    <key>uni050E</key>
    <integer>-7</integer>
    <key>uni0506</key>
    <integer>-17</integer>
    <key>uni0504</key>
    <integer>-17</integer>
    <key>uni042C</key>
    <integer>-18</integer>
    <key>uni0423</key>
    <integer>-16</integer>
    <key>uni041B</key>
    <integer>-13</integer>
    <key>Y</key>
    <integer>-40</integer>
    <key>X</key>
    <integer>-15</integer>
    <key>V</key>
    <integer>-15</integer>
    <key>T</key>
    <integer>-18</integer>
    <key>seven</key>
    <integer>-17</integer>
  </dict>
  <key>uni0414</key>
  <dict>
    <key>uni0510</key>
    <integer>13</integer>
    <key>uni050E</key>
    <integer>-41</integer>
    <key>uni0506</key>
    <integer>-42</integer>
    <key>uni0504</key>
    <integer>-41</integer>
    <key>uni04D8</key>
    <integer>-8</integer>
    <key>uni04BD</key>
    <integer>2</integer>
    <key>uni04B9</key>
    <integer>-60</integer>
    <key>uni04B8</key>
    <integer>-48</integer>
    <key>uni0447</key>
    <integer>-40</integer>
    <key>uni043B</key>
    <integer>70</integer>
    <key>uni0434</key>
    <integer>53</integer>
    <key>uni042C</key>
    <integer>-10</integer>
    <key>uni0427</key>
    <integer>-58</integer>
    <key>uni041B</key>
    <integer>20</integer>
    <key>uni0414</key>
    <integer>55</integer>
    <key>Y</key>
    <integer>-41</integer>
    <key>V</key>
    <integer>-40</integer>
    <key>T</key>
    <integer>-40</integer>
    <key>O</key>
    <integer>-30</integer>
    <key>A</key>
    <integer>40</integer>
  </dict>
  <key>uni0411</key>
  <dict>
    <key>uni050F</key>
    <integer>-60</integer>
    <key>uni050E</key>
    <integer>-42</integer>
    <key>uni0506</key>
    <integer>-23</integer>
    <key>uni0504</key>
    <integer>-31</integer>
    <key>uni04B8</key>
    <integer>-30</integer>
    <key>uni04A1</key>
    <integer>-112</integer>
    <key>uni0442</key>
    <integer>-70</integer>
    <key>uni042C</key>
    <integer>-32</integer>
    <key>uni0427</key>
    <integer>-30</integer>
    <key>uni0423</key>
    <integer>-42</integer>
    <key>x</key>
    <integer>-18</integer>
    <key>Y</key>
    <integer>-41</integer>
    <key>X</key>
    <integer>-37</integer>
    <key>V</key>
    <integer>-41</integer>
    <key>T</key>
    <integer>-32</integer>
  </dict>
  <key>uni040B</key>
  <dict>
    <key>uni050F</key>
    <integer>-80</integer>
    <key>uni0505</key>
    <integer>-23</integer>
    <key>uni04BC</key>
    <integer>-38</integer>
    <key>uni04A1</key>
    <integer>-91</integer>
    <key>uni047F</key>
    <integer>-26</integer>
    <key>uni0461</key>
    <integer>-23</integer>
    <key>uni0442</key>
    <integer>-61</integer>
    <key>uni042C</key>
    <integer>-18</integer>
    <key>v</key>
    <integer>-31</integer>
    <key>n</key>
    <integer>-38</integer>
    <key>T</key>
    <integer>-182</integer>
  </dict>
  <key>uni0402</key>
  <dict>
    <key>uni050F</key>
    <integer>-88</integer>
    <key>uni050E</key>
    <integer>-167</integer>
    <key>uni0506</key>
    <integer>-41</integer>
    <key>uni0505</key>
    <integer>-13</integer>
    <key>uni0504</key>
    <integer>-55</integer>
    <key>uni04B8</key>
    <integer>-58</integer>
    <key>uni04A1</key>
    <integer>-75</integer>
    <key>uni047F</key>
    <integer>-36</integer>
    <key>uni0461</key>
    <integer>-33</integer>
    <key>uni0442</key>
    <integer>-68</integer>
    <key>uni042C</key>
    <integer>5</integer>
    <key>uni0427</key>
    <integer>-88</integer>
    <key>uni0423</key>
    <integer>-93</integer>
    <key>x</key>
    <integer>-21</integer>
    <key>v</key>
    <integer>-32</integer>
    <key>Y</key>
    <integer>-136</integer>
    <key>X</key>
    <integer>-25</integer>
    <key>V</key>
    <integer>-115</integer>
    <key>T</key>
    <integer>-147</integer>
    <key>quotesingle</key>
    <integer>-87</integer>
  </dict>
  <key>omega</key>
  <dict>
    <key>z</key>
    <integer>-16</integer>
    <key>x</key>
    <integer>-17</integer>
    <key>v</key>
    <integer>-15</integer>
  </dict>
  <key>psi</key>
  <dict>
    <key>z</key>
    <integer>-17</integer>
    <key>x</key>
    <integer>-17</integer>
  </dict>
  <key>chi.alt</key>
  <dict>
    <key>omega</key>
    <integer>-21</integer>
    <key>chi.alt</key>
    <integer>18</integer>
    <key>phi</key>
    <integer>-18</integer>
    <key>epsilon</key>
    <integer>-17</integer>
    <key>delta</key>
    <integer>-22</integer>
    <key>o</key>
    <integer>-28</integer>
    <key>f</key>
    <integer>13</integer>
    <key>c</key>
    <integer>-26</integer>
    <key>quotesingle</key>
    <integer>13</integer>
  </dict>
  <key>phi</key>
  <dict>
    <key>uni0442</key>
    <integer>-60</integer>
    <key>chi.alt</key>
    <integer>-38</integer>
    <key>z</key>
    <integer>-23</integer>
    <key>x</key>
    <integer>-23</integer>
  </dict>
  <key>upsilon</key>
  <dict>
    <key>uni0442</key>
    <integer>-20</integer>
  </dict>
  <key>tau</key>
  <dict>
    <key>Y.smcp</key>
    <integer>16</integer>
    <key>V.smcp</key>
    <integer>16</integer>
    <key>T.smcp</key>
    <integer>17</integer>
    <key>S.smcp</key>
    <integer>-13</integer>
    <key>Q.smcp</key>
    <integer>-25</integer>
    <key>O.smcp</key>
    <integer>-23</integer>
    <key>G.smcp</key>
    <integer>-25</integer>
    <key>C.smcp</key>
    <integer>-22</integer>
    <key>A.smcp</key>
    <integer>-81</integer>
    <key>tau</key>
    <integer>15</integer>
    <key>pi</key>
    <integer>13</integer>
    <key>delta</key>
    <integer>-23</integer>
    <key>v</key>
    <integer>13</integer>
    <key>o</key>
    <integer>-27</integer>
    <key>f</key>
    <integer>15</integer>
    <key>c</key>
    <integer>-30</integer>
    <key>quotesingle</key>
    <integer>15</integer>
  </dict>
  <key>sigma</key>
  <dict>
    <key>tau</key>
    <integer>13</integer>
  </dict>
  <key>rho</key>
  <dict>
    <key>uni0442</key>
    <integer>-20</integer>
  </dict>
  <key>xi</key>
  <dict>
    <key>lambda</key>
    <integer>18</integer>
    <key>c</key>
    <integer>-31</integer>
    <key>period</key>
    <integer>27</integer>
  </dict>
  <key>lambda</key>
  <dict>
    <key>chi.alt</key>
    <integer>-47</integer>
    <key>tau</key>
    <integer>-144</integer>
    <key>pi</key>
    <integer>-25</integer>
    <key>lambda</key>
    <integer>20</integer>
    <key>theta</key>
    <integer>-22</integer>
    <key>v</key>
    <integer>-73</integer>
    <key>u</key>
    <integer>-18</integer>
    <key>f</key>
    <integer>-28</integer>
    <key>quotesingle</key>
    <integer>-120</integer>
  </dict>
  <key>iota</key>
  <dict>
    <key>phi</key>
    <integer>-31</integer>
    <key>tau</key>
    <integer>-45</integer>
    <key>pi</key>
    <integer>-27</integer>
    <key>lambda</key>
    <integer>18</integer>
    <key>theta</key>
    <integer>-25</integer>
    <key>v</key>
    <integer>-45</integer>
    <key>u</key>
    <integer>-21</integer>
    <key>c</key>
    <integer>-20</integer>
    <key>quotesingle</key>
    <integer>-47</integer>
  </dict>
  <key>zeta</key>
  <dict>
    <key>omega</key>
    <integer>-46</integer>
    <key>psi</key>
    <integer>-55</integer>
    <key>phi</key>
    <integer>-62</integer>
    <key>tau</key>
    <integer>-36</integer>
    <key>pi</key>
    <integer>-31</integer>
    <key>xi</key>
    <integer>-20</integer>
    <key>iota</key>
    <integer>-28</integer>
    <key>theta</key>
    <integer>-26</integer>
    <key>epsilon</key>
    <integer>-32</integer>
    <key>delta</key>
    <integer>-22</integer>
    <key>v</key>
    <integer>-38</integer>
    <key>u</key>
    <integer>-43</integer>
    <key>o</key>
    <integer>-52</integer>
    <key>n</key>
    <integer>-16</integer>
    <key>c</key>
    <integer>-45</integer>
  </dict>
  <key>delta</key>
  <dict>
    <key>uni0442</key>
    <integer>-32</integer>
    <key>chi.alt</key>
    <integer>-25</integer>
    <key>tau</key>
    <integer>-23</integer>
  </dict>
  <key>alpha</key>
  <dict>
    <key>lambda</key>
    <integer>47</integer>
  </dict>
  <key>Psi</key>
  <dict>
    <key>rho</key>
    <integer>-17</integer>
    <key>A</key>
    <integer>-63</integer>
    <key>period</key>
    <integer>-107</integer>
  </dict>
  <key>Phi</key>
  <dict>
    <key>lambda</key>
    <integer>-37</integer>
    <key>Y</key>
    <integer>-56</integer>
    <key>X</key>
    <integer>-57</integer>
    <key>A</key>
    <integer>-35</integer>
  </dict>
  <key>Sigma</key>
  <dict>
    <key>lambda</key>
    <integer>20</integer>
    <key>Phi</key>
    <integer>-77</integer>
    <key>O</key>
    <integer>-32</integer>
  </dict>
  <key>Xi</key>
  <dict>
    <key>lambda</key>
    <integer>16</integer>
    <key>O</key>
    <integer>-16</integer>
  </dict>
  <key>Gamma</key>
  <dict>
    <key>uni0510</key>
    <integer>-48</integer>
    <key>uni050F</key>
    <integer>-254</integer>
    <key>uni050E</key>
    <integer>10</integer>
    <key>uni050B</key>
    <integer>-302</integer>
    <key>uni0507</key>
    <integer>-195</integer>
    <key>uni0505</key>
    <integer>-252</integer>
    <key>uni0500</key>
    <integer>-336</integer>
    <key>uni04D8</key>
    <integer>-74</integer>
    <key>uni04BD</key>
    <integer>-334</integer>
    <key>uni04BC</key>
    <integer>-235</integer>
    <key>uni04B9</key>
    <integer>-300</integer>
    <key>uni04A7</key>
    <integer>-224</integer>
    <key>uni04A1</key>
    <integer>-183</integer>
    <key>uni049D</key>
    <integer>-297</integer>
    <key>uni0491</key>
    <integer>-241</integer>
    <key>uni048F</key>
    <integer>-288</integer>
    <key>uni047F</key>
    <integer>-99</integer>
    <key>uni047B</key>
    <integer>-251</integer>
    <key>uni0461</key>
    <integer>-293</integer>
    <key>uni045F</key>
    <integer>-297</integer>
    <key>uni044F</key>
    <integer>-305</integer>
    <key>uni044D</key>
    <integer>-292</integer>
    <key>uni044B</key>
    <integer>-297</integer>
    <key>uni0447</key>
    <integer>-300</integer>
    <key>uni0442</key>
    <integer>-184</integer>
    <key>uni043B</key>
    <integer>-295</integer>
    <key>uni0437</key>
    <integer>-292</integer>
    <key>uni0434</key>
    <integer>-317</integer>
    <key>uni0432</key>
    <integer>-224</integer>
    <key>uni0431</key>
    <integer>-79</integer>
    <key>uni042C</key>
    <integer>10</integer>
    <key>uni041B</key>
    <integer>-132</integer>
    <key>uni0414</key>
    <integer>-191</integer>
    <key>omega</key>
    <integer>-300</integer>
    <key>psi</key>
    <integer>-297</integer>
    <key>chi.alt</key>
    <integer>-183</integer>
    <key>phi</key>
    <integer>-295</integer>
    <key>tau</key>
    <integer>-144</integer>
    <key>rho</key>
    <integer>-305</integer>
    <key>pi</key>
    <integer>-204</integer>
    <key>iota</key>
    <integer>-142</integer>
    <key>epsilon</key>
    <integer>-295</integer>
    <key>delta</key>
    <integer>-50</integer>
    <key>Phi</key>
    <integer>-173</integer>
    <key>oslash</key>
    <integer>-220</integer>
    <key>ae</key>
    <integer>-198</integer>
    <key>AE</key>
    <integer>-356</integer>
    <key>guillemotright</key>
    <integer>-329</integer>
    <key>guillemotleft</key>
    <integer>-334</integer>
    <key>z</key>
    <integer>-147</integer>
    <key>x</key>
    <integer>-183</integer>
    <key>w</key>
    <integer>-118</integer>
    <key>v</key>
    <integer>-193</integer>
    <key>u</key>
    <integer>-157</integer>
    <key>s</key>
    <integer>-181</integer>
    <key>r</key>
    <integer>-157</integer>
    <key>o</key>
    <integer>-186</integer>
    <key>n</key>
    <integer>-157</integer>
    <key>c</key>
    <integer>-208</integer>
    <key>a</key>
    <integer>-195</integer>
    <key>Y</key>
    <integer>14</integer>
    <key>W</key>
    <integer>10</integer>
    <key>V</key>
    <integer>14</integer>
    <key>T</key>
    <integer>14</integer>
    <key>S</key>
    <integer>-54</integer>
    <key>O</key>
    <integer>-79</integer>
    <key>A</key>
    <integer>-186</integer>
    <key>period</key>
    <integer>-334</integer>
    <key>hyphen</key>
    <integer>-320</integer>
  </dict>
  <key>braceleft</key>
  <dict>
    <key>U</key>
    <integer>-25</integer>
    <key>J</key>
    <integer>-25</integer>
  </dict>
  <key>z</key>
  <dict>
    <key>o</key>
    <integer>-20</integer>
    <key>c</key>
    <integer>-20</integer>
  </dict>
  <key>x</key>
  <dict>
    <key>uni047B</key>
    <integer>-18</integer>
    <key>o</key>
    <integer>-36</integer>
    <key>c</key>
    <integer>-25</integer>
  </dict>
  <key>w</key>
  <dict>
    <key>period</key>
    <integer>-55</integer>
  </dict>
  <key>v</key>
  <dict>
    <key>uni047B</key>
    <integer>-18</integer>
    <key>uni043B</key>
    <integer>-61</integer>
    <key>uni0434</key>
    <integer>-90</integer>
    <key>tau</key>
    <integer>15</integer>
    <key>rho</key>
    <integer>-27</integer>
    <key>pi</key>
    <integer>13</integer>
    <key>delta</key>
    <integer>-23</integer>
    <key>o</key>
    <integer>-18</integer>
    <key>f</key>
    <integer>16</integer>
    <key>c</key>
    <integer>-16</integer>
    <key>a</key>
    <integer>-18</integer>
    <key>period</key>
    <integer>-131</integer>
  </dict>
  <key>t</key>
  <dict>
    <key>quoteright</key>
    <integer>40</integer>
    <key>t</key>
    <integer>43</integer>
    <key>o</key>
    <integer>-20</integer>
  </dict>
  <key>r</key>
  <dict>
    <key>w</key>
    <integer>31</integer>
    <key>v</key>
    <integer>32</integer>
    <key>t</key>
    <integer>50</integer>
    <key>f</key>
    <integer>28</integer>
    <key>period</key>
    <integer>-138</integer>
    <key>quotesingle</key>
    <integer>20</integer>
  </dict>
  <key>o</key>
  <dict>
    <key>quoteright</key>
    <integer>-88</integer>
    <key>uni050F</key>
    <integer>-25</integer>
    <key>uni0505</key>
    <integer>-13</integer>
    <key>uni04A1</key>
    <integer>-46</integer>
    <key>uni047F</key>
    <integer>-18</integer>
    <key>uni0461</key>
    <integer>-20</integer>
    <key>uni0442</key>
    <integer>-27</integer>
    <key>uni043B</key>
    <integer>-20</integer>
    <key>uni0434</key>
    <integer>-48</integer>
    <key>chi.alt</key>
    <integer>-27</integer>
    <key>tau</key>
    <integer>-27</integer>
    <key>z</key>
    <integer>-20</integer>
    <key>x</key>
    <integer>-36</integer>
    <key>v</key>
    <integer>-18</integer>
    <key>t</key>
    <integer>-10</integer>
    <key>quotesingle</key>
    <integer>-88</integer>
  </dict>
  <key>n</key>
  <dict>
    <key>quoteright</key>
    <integer>-96</integer>
    <key>uni0442</key>
    <integer>-16</integer>
    <key>quotesingle</key>
    <integer>-70</integer>
  </dict>
  <key>k</key>
  <dict>
    <key>o</key>
    <integer>-30</integer>
    <key>c</key>
    <integer>-25</integer>
  </dict>
  <key>f</key>
  <dict>
    <key>braceright</key>
    <integer>43</integer>
    <key>bracketright</key>
    <integer>82</integer>
    <key>parenright</key>
    <integer>65</integer>
    <key>quotesingle</key>
    <integer>40</integer>
  </dict>
  <key>e</key>
  <dict>
    <key>quoteright</key>
    <integer>-96</integer>
    <key>uni0442</key>
    <integer>-13</integer>
    <key>v</key>
    <integer>-16</integer>
    <key>quotesingle</key>
    <integer>-47</integer>
  </dict>
  <key>c</key>
  <dict>
    <key>quotesingle</key>
    <integer>-53</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>uni050F</key>
    <integer>-25</integer>
    <key>uni04A1</key>
    <integer>-25</integer>
    <key>uni0442</key>
    <integer>-40</integer>
    <key>uni043B</key>
    <integer>-17</integer>
    <key>uni0434</key>
    <integer>-72</integer>
    <key>chi.alt</key>
    <integer>-30</integer>
    <key>tau</key>
    <integer>-27</integer>
    <key>z</key>
    <integer>-18</integer>
    <key>x</key>
    <integer>-18</integer>
    <key>v</key>
    <integer>-13</integer>
    <key>quotesingle</key>
    <integer>-56</integer>
  </dict>
  <key>a</key>
  <dict>
    <key>uni050F</key>
    <integer>-18</integer>
    <key>uni0507</key>
    <integer>-16</integer>
    <key>uni0505</key>
    <integer>-16</integer>
    <key>uni04A1</key>
    <integer>-58</integer>
    <key>uni047F</key>
    <integer>-16</integer>
    <key>uni0461</key>
    <integer>-18</integer>
    <key>uni0442</key>
    <integer>-20</integer>
    <key>v</key>
    <integer>-18</integer>
    <key>quotesingle</key>
    <integer>-61</integer>
  </dict>
  <key>bracketleft</key>
  <dict>
    <key>U</key>
    <integer>-22</integer>
    <key>J</key>
    <integer>-22</integer>
  </dict>
  <key>Z</key>
  <dict>
    <key>Q.smcp</key>
    <integer>-25</integer>
    <key>O.smcp</key>
    <integer>-25</integer>
    <key>G.smcp</key>
    <integer>-26</integer>
    <key>C.smcp</key>
    <integer>-23</integer>
    <key>A.smcp</key>
    <integer>16</integer>
    <key>psi</key>
    <integer>-35</integer>
    <key>Phi</key>
    <integer>-66</integer>
    <key>w</key>
    <integer>-33</integer>
    <key>v</key>
    <integer>-33</integer>
    <key>u</key>
    <integer>-23</integer>
    <key>o</key>
    <integer>-26</integer>
    <key>c</key>
    <integer>-26</integer>
    <key>O</key>
    <integer>-32</integer>
    <key>A</key>
    <integer>16</integer>
  </dict>
  <key>Y</key>
  <dict>
    <key>X.smcp</key>
    <integer>-21</integer>
    <key>W.smcp</key>
    <integer>-16</integer>
    <key>T.smcp</key>
    <integer>-16</integer>
    <key>Q.smcp</key>
    <integer>-96</integer>
    <key>O.smcp</key>
    <integer>-96</integer>
    <key>G.smcp</key>
    <integer>-96</integer>
    <key>C.smcp</key>
    <integer>-93</integer>
    <key>A.smcp</key>
    <integer>-166</integer>
    <key>bullet</key>
    <integer>-126</integer>
    <key>omega</key>
    <integer>-101</integer>
    <key>psi</key>
    <integer>-57</integer>
    <key>chi.alt</key>
    <integer>-40</integer>
    <key>phi</key>
    <integer>-76</integer>
    <key>tau</key>
    <integer>-48</integer>
    <key>rho</key>
    <integer>-147</integer>
    <key>pi</key>
    <integer>-80</integer>
    <key>iota</key>
    <integer>-82</integer>
    <key>theta</key>
    <integer>-28</integer>
    <key>zeta</key>
    <integer>16</integer>
    <key>epsilon</key>
    <integer>-122</integer>
    <key>delta</key>
    <integer>-22</integer>
    <key>beta</key>
    <integer>-37</integer>
    <key>Phi</key>
    <integer>-70</integer>
    <key>oslash</key>
    <integer>-100</integer>
    <key>ae</key>
    <integer>-98</integer>
    <key>AE</key>
    <integer>-150</integer>
    <key>guillemotright</key>
    <integer>-63</integer>
    <key>guillemotleft</key>
    <integer>-132</integer>
    <key>braceright</key>
    <integer>23</integer>
    <key>z</key>
    <integer>-47</integer>
    <key>x</key>
    <integer>-38</integer>
    <key>v</key>
    <integer>-25</integer>
    <key>u</key>
    <integer>-88</integer>
    <key>t</key>
    <integer>-37</integer>
    <key>s</key>
    <integer>-142</integer>
    <key>r</key>
    <integer>-70</integer>
    <key>o</key>
    <integer>-171</integer>
    <key>n</key>
    <integer>-90</integer>
    <key>f</key>
    <integer>-47</integer>
    <key>c</key>
    <integer>-151</integer>
    <key>a</key>
    <integer>-108</integer>
    <key>bracketright</key>
    <integer>22</integer>
    <key>Y</key>
    <integer>22</integer>
    <key>W</key>
    <integer>21</integer>
    <key>V</key>
    <integer>22</integer>
    <key>U</key>
    <integer>-50</integer>
    <key>T</key>
    <integer>21</integer>
    <key>S</key>
    <integer>-20</integer>
    <key>O</key>
    <integer>-40</integer>
    <key>J</key>
    <integer>-180</integer>
    <key>A</key>
    <integer>-162</integer>
    <key>period</key>
    <integer>-253</integer>
    <key>hyphen</key>
    <integer>-125</integer>
    <key>asterisk</key>
    <integer>-101</integer>
    <key>parenright</key>
    <integer>25</integer>
    <key>ampersand</key>
    <integer>-67</integer>
  </dict>
  <key>X</key>
  <dict>
    <key>Q.smcp</key>
    <integer>-28</integer>
    <key>O.smcp</key>
    <integer>-31</integer>
    <key>G.smcp</key>
    <integer>-31</integer>
    <key>C.smcp</key>
    <integer>-28</integer>
    <key>uni0510</key>
    <integer>-17</integer>
    <key>uni050F</key>
    <integer>-112</integer>
    <key>uni0506</key>
    <integer>15</integer>
    <key>uni0504</key>
    <integer>16</integer>
    <key>uni04D8</key>
    <integer>-31</integer>
    <key>uni04BD</key>
    <integer>-73</integer>
    <key>uni04BC</key>
    <integer>-52</integer>
    <key>uni04B9</key>
    <integer>-96</integer>
    <key>uni04A1</key>
    <integer>-131</integer>
    <key>uni0447</key>
    <integer>-88</integer>
    <key>uni0442</key>
    <integer>-71</integer>
    <key>uni043B</key>
    <integer>21</integer>
    <key>uni0431</key>
    <integer>-28</integer>
    <key>uni041B</key>
    <integer>21</integer>
    <key>uni0414</key>
    <integer>32</integer>
    <key>omega</key>
    <integer>-52</integer>
    <key>psi</key>
    <integer>-53</integer>
    <key>phi</key>
    <integer>-61</integer>
    <key>tau</key>
    <integer>-130</integer>
    <key>lambda</key>
    <integer>21</integer>
    <key>theta</key>
    <integer>-23</integer>
    <key>delta</key>
    <integer>-20</integer>
    <key>Phi</key>
    <integer>-55</integer>
    <key>v</key>
    <integer>-58</integer>
    <key>u</key>
    <integer>-26</integer>
    <key>o</key>
    <integer>-36</integer>
    <key>c</key>
    <integer>-32</integer>
    <key>V</key>
    <integer>17</integer>
    <key>O</key>
    <integer>-50</integer>
    <key>hyphen</key>
    <integer>-197</integer>
  </dict>
  <key>W</key>
  <dict>
    <key>Q.smcp</key>
    <integer>-31</integer>
    <key>O.smcp</key>
    <integer>-31</integer>
    <key>G.smcp</key>
    <integer>-31</integer>
    <key>C.smcp</key>
    <integer>-28</integer>
    <key>A.smcp</key>
    <integer>-116</integer>
    <key>braceright</key>
    <integer>17</integer>
    <key>u</key>
    <integer>-23</integer>
    <key>r</key>
    <integer>-26</integer>
    <key>o</key>
    <integer>-38</integer>
    <key>c</key>
    <integer>-38</integer>
    <key>a</key>
    <integer>-41</integer>
    <key>bracketright</key>
    <integer>15</integer>
    <key>T</key>
    <integer>17</integer>
    <key>A</key>
    <integer>-83</integer>
    <key>period</key>
    <integer>-178</integer>
    <key>hyphen</key>
    <integer>-115</integer>
    <key>parenright</key>
    <integer>18</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>Q.smcp</key>
    <integer>-48</integer>
    <key>O.smcp</key>
    <integer>-48</integer>
    <key>G.smcp</key>
    <integer>-48</integer>
    <key>C.smcp</key>
    <integer>-48</integer>
    <key>A.smcp</key>
    <integer>-175</integer>
    <key>braceright</key>
    <integer>23</integer>
    <key>v</key>
    <integer>-13</integer>
    <key>u</key>
    <integer>-35</integer>
    <key>r</key>
    <integer>-37</integer>
    <key>o</key>
    <integer>-57</integer>
    <key>c</key>
    <integer>-55</integer>
    <key>a</key>
    <integer>-57</integer>
    <key>bracketright</key>
    <integer>21</integer>
    <key>O</key>
    <integer>-30</integer>
    <key>A</key>
    <integer>-144</integer>
    <key>period</key>
    <integer>-216</integer>
    <key>hyphen</key>
    <integer>-80</integer>
    <key>parenright</key>
    <integer>25</integer>
  </dict>
  <key>U</key>
  <dict>
    <key>A.smcp</key>
    <integer>-26</integer>
    <key>A</key>
    <integer>-27</integer>
  </dict>
  <key>T</key>
  <dict>
    <key>X.smcp</key>
    <integer>-23</integer>
    <key>W.smcp</key>
    <integer>-18</integer>
    <key>T.smcp</key>
    <integer>-18</integer>
    <key>S.smcp</key>
    <integer>-85</integer>
    <key>Q.smcp</key>
    <integer>-88</integer>
    <key>O.smcp</key>
    <integer>-88</integer>
    <key>G.smcp</key>
    <integer>-88</integer>
    <key>C.smcp</key>
    <integer>-88</integer>
    <key>A.smcp</key>
    <integer>-181</integer>
    <key>uni0510</key>
    <integer>-17</integer>
    <key>uni050F</key>
    <integer>-138</integer>
    <key>uni050E</key>
    <integer>18</integer>
    <key>uni050B</key>
    <integer>-166</integer>
    <key>uni0507</key>
    <integer>-103</integer>
    <key>uni0505</key>
    <integer>-137</integer>
    <key>uni0500</key>
    <integer>-186</integer>
    <key>uni04D8</key>
    <integer>-32</integer>
    <key>uni04BD</key>
    <integer>-185</integer>
    <key>uni04BC</key>
    <integer>-127</integer>
    <key>uni04B9</key>
    <integer>-165</integer>
    <key>uni04A7</key>
    <integer>-120</integer>
    <key>uni04A1</key>
    <integer>-96</integer>
    <key>uni049D</key>
    <integer>-163</integer>
    <key>uni0491</key>
    <integer>-130</integer>
    <key>uni048F</key>
    <integer>-158</integer>
    <key>uni047F</key>
    <integer>-47</integer>
    <key>uni047B</key>
    <integer>-130</integer>
    <key>uni0461</key>
    <integer>-161</integer>
    <key>uni045F</key>
    <integer>-163</integer>
    <key>uni044F</key>
    <integer>-168</integer>
    <key>uni044D</key>
    <integer>-160</integer>
    <key>uni044B</key>
    <integer>-163</integer>
    <key>uni0447</key>
    <integer>-165</integer>
    <key>uni0442</key>
    <integer>-97</integer>
    <key>uni043B</key>
    <integer>-162</integer>
    <key>uni0437</key>
    <integer>-160</integer>
    <key>uni0434</key>
    <integer>-175</integer>
    <key>uni0432</key>
    <integer>-120</integer>
    <key>uni0431</key>
    <integer>-35</integer>
    <key>uni042C</key>
    <integer>18</integer>
    <key>uni041B</key>
    <integer>-66</integer>
    <key>uni0414</key>
    <integer>-101</integer>
    <key>omega</key>
    <integer>-165</integer>
    <key>psi</key>
    <integer>-163</integer>
    <key>chi.alt</key>
    <integer>-96</integer>
    <key>phi</key>
    <integer>-162</integer>
    <key>tau</key>
    <integer>-97</integer>
    <key>rho</key>
    <integer>-168</integer>
    <key>pi</key>
    <integer>-126</integer>
    <key>iota</key>
    <integer>-166</integer>
    <key>epsilon</key>
    <integer>-162</integer>
    <key>delta</key>
    <integer>-18</integer>
    <key>Phi</key>
    <integer>-90</integer>
    <key>oslash</key>
    <integer>-118</integer>
    <key>ae</key>
    <integer>-105</integer>
    <key>AE</key>
    <integer>-198</integer>
    <key>guillemotright</key>
    <integer>-182</integer>
    <key>guillemotleft</key>
    <integer>-185</integer>
    <key>z</key>
    <integer>-75</integer>
    <key>x</key>
    <integer>-96</integer>
    <key>w</key>
    <integer>-58</integer>
    <key>v</key>
    <integer>-102</integer>
    <key>u</key>
    <integer>-81</integer>
    <key>s</key>
    <integer>-95</integer>
    <key>r</key>
    <integer>-81</integer>
    <key>o</key>
    <integer>-98</integer>
    <key>n</key>
    <integer>-81</integer>
    <key>c</key>
    <integer>-111</integer>
    <key>a</key>
    <integer>-103</integer>
    <key>Y</key>
    <integer>20</integer>
    <key>W</key>
    <integer>18</integer>
    <key>V</key>
    <integer>20</integer>
    <key>T</key>
    <integer>20</integer>
    <key>S</key>
    <integer>-20</integer>
    <key>O</key>
    <integer>-50</integer>
    <key>J</key>
    <integer>-216</integer>
    <key>A</key>
    <integer>-130</integer>
    <key>period</key>
    <integer>-264</integer>
    <key>hyphen</key>
    <integer>-177</integer>
    <key>space</key>
    <integer>-30</integer>
  </dict>
  <key>R</key>
  <dict>
    <key>Y</key>
    <integer>-88</integer>
    <key>V</key>
    <integer>-23</integer>
    <key>T</key>
    <integer>-25</integer>
    <key>A</key>
    <integer>10</integer>
  </dict>
  <key>Q</key>
  <dict>
    <key>A.smcp</key>
    <integer>17</integer>
    <key>Y</key>
    <integer>-83</integer>
    <key>W</key>
    <integer>-25</integer>
    <key>V</key>
    <integer>-35</integer>
    <key>T</key>
    <integer>-41</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>A.smcp</key>
    <integer>-172</integer>
    <key>uni0500</key>
    <integer>-36</integer>
    <key>uni043B</key>
    <integer>-98</integer>
    <key>uni0434</key>
    <integer>-187</integer>
    <key>uni041B</key>
    <integer>-158</integer>
    <key>uni0414</key>
    <integer>-170</integer>
    <key>rho</key>
    <integer>-93</integer>
    <key>lambda</key>
    <integer>-42</integer>
    <key>delta</key>
    <integer>-13</integer>
    <key>AE</key>
    <integer>-121</integer>
    <key>v</key>
    <integer>18</integer>
    <key>t</key>
    <integer>17</integer>
    <key>o</key>
    <integer>-16</integer>
    <key>c</key>
    <integer>-16</integer>
    <key>a</key>
    <integer>-13</integer>
    <key>Z</key>
    <integer>-40</integer>
    <key>X</key>
    <integer>-86</integer>
    <key>J</key>
    <integer>-256</integer>
    <key>A</key>
    <integer>-165</integer>
    <key>period</key>
    <integer>-375</integer>
  </dict>
  <key>O</key>
  <dict>
    <key>X.smcp</key>
    <integer>-13</integer>
    <key>A.smcp</key>
    <integer>-23</integer>
    <key>uni050E</key>
    <integer>-40</integer>
    <key>uni041B</key>
    <integer>-58</integer>
    <key>uni0414</key>
    <integer>-71</integer>
    <key>lambda</key>
    <integer>-27</integer>
    <key>Sigma</key>
    <integer>-20</integer>
    <key>Xi</key>
    <integer>-16</integer>
    <key>AE</key>
    <integer>-71</integer>
    <key>Z</key>
    <integer>-28</integer>
    <key>Y</key>
    <integer>-40</integer>
    <key>X</key>
    <integer>-50</integer>
    <key>V</key>
    <integer>-30</integer>
    <key>T</key>
    <integer>-50</integer>
    <key>A</key>
    <integer>-30</integer>
    <key>period</key>
    <integer>-77</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>Y.smcp</key>
    <integer>-91</integer>
    <key>W.smcp</key>
    <integer>-51</integer>
    <key>V.smcp</key>
    <integer>-90</integer>
    <key>U.smcp</key>
    <integer>-22</integer>
    <key>T.smcp</key>
    <integer>-83</integer>
    <key>Q.smcp</key>
    <integer>-17</integer>
    <key>O.smcp</key>
    <integer>-17</integer>
    <key>G.smcp</key>
    <integer>-18</integer>
    <key>C.smcp</key>
    <integer>-16</integer>
    <key>A.smcp</key>
    <integer>23</integer>
    <key>w</key>
    <integer>-122</integer>
    <key>v</key>
    <integer>-146</integer>
    <key>u</key>
    <integer>-17</integer>
    <key>Y</key>
    <integer>-263</integer>
    <key>W</key>
    <integer>-126</integer>
    <key>V</key>
    <integer>-218</integer>
    <key>U</key>
    <integer>-30</integer>
    <key>T</key>
    <integer>-216</integer>
    <key>O</key>
    <integer>-71</integer>
    <key>A</key>
    <integer>23</integer>
    <key>quotesingle</key>
    <integer>-264</integer>
    <key>space</key>
    <integer>-30</integer>
  </dict>
  <key>K</key>
  <dict>
    <key>Q.smcp</key>
    <integer>-31</integer>
    <key>O.smcp</key>
    <integer>-31</integer>
    <key>G.smcp</key>
    <integer>-32</integer>
    <key>C.smcp</key>
    <integer>-30</integer>
    <key>uni0510</key>
    <integer>-21</integer>
    <key>uni050F</key>
    <integer>-136</integer>
    <key>uni0507</key>
    <integer>-155</integer>
    <key>uni0505</key>
    <integer>-145</integer>
    <key>uni04D8</key>
    <integer>-55</integer>
    <key>uni04B9</key>
    <integer>-143</integer>
    <key>uni04A1</key>
    <integer>-180</integer>
    <key>uni047F</key>
    <integer>-70</integer>
    <key>uni047B</key>
    <integer>-57</integer>
    <key>uni0461</key>
    <integer>-97</integer>
    <key>uni0447</key>
    <integer>-116</integer>
    <key>uni0442</key>
    <integer>-88</integer>
    <key>uni0431</key>
    <integer>-51</integer>
    <key>tau</key>
    <integer>-95</integer>
    <key>Phi</key>
    <integer>-73</integer>
    <key>w</key>
    <integer>-78</integer>
    <key>v</key>
    <integer>-50</integer>
    <key>u</key>
    <integer>-28</integer>
    <key>o</key>
    <integer>-33</integer>
    <key>n</key>
    <integer>-28</integer>
    <key>c</key>
    <integer>-32</integer>
    <key>O</key>
    <integer>-68</integer>
    <key>hyphen</key>
    <integer>-170</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>A.smcp</key>
    <integer>-140</integer>
    <key>v</key>
    <integer>-30</integer>
    <key>u</key>
    <integer>-27</integer>
    <key>r</key>
    <integer>-32</integer>
    <key>o</key>
    <integer>-66</integer>
    <key>c</key>
    <integer>-63</integer>
    <key>a</key>
    <integer>-80</integer>
    <key>V</key>
    <integer>10</integer>
    <key>T</key>
    <integer>20</integer>
    <key>J</key>
    <integer>-280</integer>
    <key>A</key>
    <integer>-198</integer>
    <key>period</key>
    <integer>-342</integer>
  </dict>
  <key>E</key>
  <dict>
    <key>Y.smcp</key>
    <integer>-20</integer>
    <key>W.smcp</key>
    <integer>-23</integer>
    <key>V.smcp</key>
    <integer>-20</integer>
    <key>w</key>
    <integer>-27</integer>
    <key>v</key>
    <integer>-32</integer>
    <key>u</key>
    <integer>-21</integer>
    <key>o</key>
    <integer>-23</integer>
    <key>c</key>
    <integer>-11</integer>
    <key>V</key>
    <integer>40</integer>
    <key>T</key>
    <integer>20</integer>
  </dict>
  <key>C</key>
  <dict>
    <key>uni04BD</key>
    <integer>-23</integer>
    <key>T</key>
    <integer>-36</integer>
    <key>parenright</key>
    <integer>-32</integer>
  </dict>
  <key>B</key>
  <dict>
    <key>uni050E</key>
    <integer>-32</integer>
    <key>uni0423</key>
    <integer>-78</integer>
    <key>Y</key>
    <integer>-156</integer>
    <key>V</key>
    <integer>-30</integer>
    <key>T</key>
    <integer>-33</integer>
    <key>A</key>
    <integer>-39</integer>
  </dict>
  <key>A</key>
  <dict>
    <key>Y.smcp</key>
    <integer>-162</integer>
    <key>W.smcp</key>
    <integer>-43</integer>
    <key>V.smcp</key>
    <integer>-63</integer>
    <key>U.smcp</key>
    <integer>-18</integer>
    <key>T.smcp</key>
    <integer>-71</integer>
    <key>O.smcp</key>
    <integer>-13</integer>
    <key>G.smcp</key>
    <integer>-13</integer>
    <key>uni050F</key>
    <integer>-152</integer>
    <key>uni050E</key>
    <integer>-201</integer>
    <key>uni0506</key>
    <integer>-67</integer>
    <key>uni0504</key>
    <integer>-98</integer>
    <key>uni04D8</key>
    <integer>-17</integer>
    <key>uni04BD</key>
    <integer>-43</integer>
    <key>uni04BC</key>
    <integer>-68</integer>
    <key>uni04B9</key>
    <integer>-128</integer>
    <key>uni04B8</key>
    <integer>-178</integer>
    <key>uni04A1</key>
    <integer>-111</integer>
    <key>uni0447</key>
    <integer>-103</integer>
    <key>uni0442</key>
    <integer>-105</integer>
    <key>uni043B</key>
    <integer>22</integer>
    <key>uni0427</key>
    <integer>-281</integer>
    <key>uni041B</key>
    <integer>21</integer>
    <key>uni0414</key>
    <integer>23</integer>
    <key>tau</key>
    <integer>-70</integer>
    <key>lambda</key>
    <integer>58</integer>
    <key>Psi</key>
    <integer>-58</integer>
    <key>Phi</key>
    <integer>-33</integer>
    <key>Uhorn</key>
    <integer>-22</integer>
    <key>z</key>
    <integer>15</integer>
    <key>w</key>
    <integer>-41</integer>
    <key>v</key>
    <integer>-62</integer>
    <key>u</key>
    <integer>-13</integer>
    <key>t</key>
    <integer>-21</integer>
    <key>Y</key>
    <integer>-217</integer>
    <key>W</key>
    <integer>-48</integer>
    <key>V</key>
    <integer>-144</integer>
    <key>U</key>
    <integer>-21</integer>
    <key>T</key>
    <integer>-130</integer>
    <key>O</key>
    <integer>-30</integer>
    <key>question</key>
    <integer>-76</integer>
    <key>quotesingle</key>
    <integer>-192</integer>
  </dict>
  <key>slash</key>
  <dict>
    <key>slash</key>
    <integer>-224</integer>
  </dict>
  <key>period</key>
  <dict>
    <key>quotesingle</key>
    <integer>-285</integer>
  </dict>
  <key>hyphen</key>
  <dict>
    <key>V</key>
    <integer>-80</integer>
    <key>T</key>
    <integer>-177</integer>
  </dict>
  <key>parenleft</key>
  <dict>
    <key>Y</key>
    <integer>27</integer>
    <key>W</key>
    <integer>22</integer>
    <key>V</key>
    <integer>25</integer>
  </dict>
  <key>quotesingle</key>
  <dict>
    <key>w</key>
    <integer>13</integer>
    <key>t</key>
    <integer>56</integer>
    <key>s</key>
    <integer>-86</integer>
    <key>o</key>
    <integer>-86</integer>
    <key>n</key>
    <integer>-25</integer>
    <key>c</key>
    <integer>-103</integer>
    <key>a</key>
    <integer>-92</integer>
    <key>A</key>
    <integer>-192</integer>
    <key>quotesingle</key>
    <integer>-46</integer>
  </dict>
  <key>space</key>
  <dict>
    <key>T</key>
    <integer>-30</integer>
  </dict>
</dict>
</plist>
