<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>schwa</key>
  <dict>
    <key>uni0442</key>
    <integer>-11</integer>
    <key>v</key>
    <integer>-13</integer>
    <key>quotesingle</key>
    <integer>-14</integer>
  </dict>
  <key>T.smcp</key>
  <dict>
    <key>Y.smcp</key>
    <integer>13</integer>
    <key>V.smcp</key>
    <integer>13</integer>
  </dict>
  <key>R.smcp</key>
  <dict>
    <key>Y.smcp</key>
    <integer>-18</integer>
    <key>W.smcp</key>
    <integer>-11</integer>
    <key>V.smcp</key>
    <integer>-15</integer>
    <key>T.smcp</key>
    <integer>-14</integer>
  </dict>
  <key>Q.smcp</key>
  <dict>
    <key>Y.smcp</key>
    <integer>-27</integer>
    <key>W.smcp</key>
    <integer>-15</integer>
    <key>V.smcp</key>
    <integer>-21</integer>
    <key>T.smcp</key>
    <integer>-23</integer>
  </dict>
  <key>O.smcp</key>
  <dict>
    <key>Y.smcp</key>
    <integer>-22</integer>
    <key>X.smcp</key>
    <integer>-20</integer>
    <key>V.smcp</key>
    <integer>-15</integer>
    <key>T.smcp</key>
    <integer>-18</integer>
  </dict>
  <key>L.smcp</key>
  <dict>
    <key>Y.smcp</key>
    <integer>-76</integer>
    <key>W.smcp</key>
    <integer>-43</integer>
    <key>V.smcp</key>
    <integer>-73</integer>
    <key>U.smcp</key>
    <integer>-20</integer>
    <key>T.smcp</key>
    <integer>-69</integer>
    <key>Q.smcp</key>
    <integer>-16</integer>
    <key>O.smcp</key>
    <integer>-17</integer>
  </dict>
  <key>K.smcp</key>
  <dict>
    <key>Q.smcp</key>
    <integer>-21</integer>
    <key>O.smcp</key>
    <integer>-21</integer>
  </dict>
  <key>D.smcp</key>
  <dict>
    <key>W.smcp</key>
    <integer>-11</integer>
    <key>V.smcp</key>
    <integer>-18</integer>
  </dict>
  <key>A.smcp</key>
  <dict>
    <key>Y.smcp</key>
    <integer>-65</integer>
    <key>W.smcp</key>
    <integer>-40</integer>
    <key>V.smcp</key>
    <integer>-57</integer>
    <key>U.smcp</key>
    <integer>-20</integer>
    <key>T.smcp</key>
    <integer>-64</integer>
    <key>Q.smcp</key>
    <integer>-14</integer>
    <key>O.smcp</key>
    <integer>-14</integer>
    <key>G.smcp</key>
    <integer>-14</integer>
    <key>C.smcp</key>
    <integer>-14</integer>
  </dict>
  <key>quoteright</key>
  <dict>
    <key>s</key>
    <integer>-112</integer>
    <key>o</key>
    <integer>-128</integer>
    <key>l</key>
    <integer>32</integer>
  </dict>
  <key>uni0481</key>
  <dict>
    <key>quotesingle</key>
    <integer>-11</integer>
  </dict>
  <key>uni0454</key>
  <dict>
    <key>quotesingle</key>
    <integer>-42</integer>
  </dict>
  <key>uni044E</key>
  <dict>
    <key>uni043B</key>
    <integer>-13</integer>
    <key>uni0434</key>
    <integer>-17</integer>
    <key>x</key>
    <integer>-16</integer>
    <key>v</key>
    <integer>-12</integer>
  </dict>
  <key>uni044C</key>
  <dict>
    <key>uni050F</key>
    <integer>-180</integer>
    <key>uni0507</key>
    <integer>-14</integer>
    <key>uni0505</key>
    <integer>-16</integer>
    <key>uni04B9</key>
    <integer>-99</integer>
    <key>uni04A1</key>
    <integer>-176</integer>
    <key>uni047F</key>
    <integer>-37</integer>
    <key>uni0461</key>
    <integer>-49</integer>
    <key>uni0447</key>
    <integer>-39</integer>
    <key>uni0442</key>
    <integer>-70</integer>
    <key>x</key>
    <integer>-11</integer>
    <key>v</key>
    <integer>-35</integer>
    <key>quotesingle</key>
    <integer>-135</integer>
  </dict>
  <key>uni0449</key>
  <dict>
    <key>uni050F</key>
    <integer>-29</integer>
    <key>uni04B9</key>
    <integer>-29</integer>
    <key>uni04A1</key>
    <integer>-30</integer>
    <key>uni0447</key>
    <integer>-9</integer>
    <key>uni0442</key>
    <integer>-29</integer>
    <key>uni043B</key>
    <integer>24</integer>
    <key>uni0434</key>
    <integer>58</integer>
    <key>c</key>
    <integer>12</integer>
  </dict>
  <key>uni0446</key>
  <dict>
    <key>uni050F</key>
    <integer>-16</integer>
    <key>uni04B9</key>
    <integer>-26</integer>
    <key>uni04A1</key>
    <integer>-16</integer>
    <key>uni044F</key>
    <integer>12</integer>
    <key>uni0447</key>
    <integer>-16</integer>
    <key>uni0442</key>
    <integer>-16</integer>
    <key>uni043B</key>
    <integer>16</integer>
    <key>uni0434</key>
    <integer>20</integer>
  </dict>
  <key>uni0442</key>
  <dict>
    <key>Y.smcp</key>
    <integer>13</integer>
    <key>V.smcp</key>
    <integer>13</integer>
    <key>T.smcp</key>
    <integer>14</integer>
    <key>S.smcp</key>
    <integer>-11</integer>
    <key>Q.smcp</key>
    <integer>-20</integer>
    <key>O.smcp</key>
    <integer>-19</integer>
    <key>G.smcp</key>
    <integer>-20</integer>
    <key>C.smcp</key>
    <integer>-18</integer>
    <key>A.smcp</key>
    <integer>-65</integer>
    <key>uni0507</key>
    <integer>11</integer>
    <key>uni0505</key>
    <integer>11</integer>
    <key>uni047F</key>
    <integer>12</integer>
    <key>uni047B</key>
    <integer>-30</integer>
    <key>uni043B</key>
    <integer>-81</integer>
    <key>uni0434</key>
    <integer>-86</integer>
    <key>phi</key>
    <integer>-43</integer>
    <key>sigma1</key>
    <integer>-64</integer>
    <key>rho</key>
    <integer>-85</integer>
    <key>delta</key>
    <integer>-80</integer>
    <key>v</key>
    <integer>11</integer>
    <key>o</key>
    <integer>-42</integer>
    <key>f</key>
    <integer>13</integer>
    <key>c</key>
    <integer>-80</integer>
    <key>a</key>
    <integer>-16</integer>
    <key>quotesingle</key>
    <integer>13</integer>
  </dict>
  <key>uni043A</key>
  <dict>
    <key>Q.smcp</key>
    <integer>-21</integer>
    <key>O.smcp</key>
    <integer>-21</integer>
    <key>G.smcp</key>
    <integer>-23</integer>
    <key>C.smcp</key>
    <integer>-21</integer>
    <key>uni047B</key>
    <integer>-21</integer>
    <key>o</key>
    <integer>-21</integer>
    <key>c</key>
    <integer>-16</integer>
  </dict>
  <key>uni0437</key>
  <dict>
    <key>quotesingle</key>
    <integer>-11</integer>
  </dict>
  <key>uni0434</key>
  <dict>
    <key>uni050F</key>
    <integer>-19</integer>
    <key>uni04B9</key>
    <integer>-19</integer>
    <key>uni04A1</key>
    <integer>-19</integer>
    <key>uni044A</key>
    <integer>-30</integer>
    <key>uni0447</key>
    <integer>-19</integer>
    <key>uni0442</key>
    <integer>-19</integer>
    <key>uni0434</key>
    <integer>20</integer>
  </dict>
  <key>uni0433</key>
  <dict>
    <key>uni047B</key>
    <integer>-18</integer>
    <key>uni043B</key>
    <integer>-40</integer>
    <key>uni0434</key>
    <integer>-55</integer>
    <key>o</key>
    <integer>-20</integer>
    <key>c</key>
    <integer>-20</integer>
  </dict>
  <key>uni0432</key>
  <dict>
    <key>uni050F</key>
    <integer>-11</integer>
    <key>uni04A1</key>
    <integer>-11</integer>
    <key>uni0461</key>
    <integer>-11</integer>
    <key>uni0442</key>
    <integer>-12</integer>
    <key>v</key>
    <integer>-11</integer>
    <key>quotesingle</key>
    <integer>-14</integer>
  </dict>
  <key>uni0431</key>
  <dict>
    <key>uni050F</key>
    <integer>-17</integer>
    <key>uni04A1</key>
    <integer>-17</integer>
    <key>uni047F</key>
    <integer>-15</integer>
    <key>uni0461</key>
    <integer>-12</integer>
    <key>uni0442</key>
    <integer>-18</integer>
    <key>uni0434</key>
    <integer>-18</integer>
    <key>x</key>
    <integer>-16</integer>
    <key>n</key>
    <integer>-17</integer>
  </dict>
  <key>uni042F</key>
  <dict>
    <key>Y</key>
    <integer>-13</integer>
    <key>T</key>
    <integer>-21</integer>
  </dict>
  <key>uni042E</key>
  <dict>
    <key>uni043B</key>
    <integer>-21</integer>
    <key>uni0434</key>
    <integer>-28</integer>
    <key>uni0423</key>
    <integer>-23</integer>
    <key>uni041B</key>
    <integer>-28</integer>
    <key>uni0414</key>
    <integer>-31</integer>
    <key>X</key>
    <integer>-28</integer>
    <key>T</key>
    <integer>-30</integer>
  </dict>
  <key>uni042D</key>
  <dict>
    <key>uni050E</key>
    <integer>-28</integer>
    <key>uni043B</key>
    <integer>-22</integer>
    <key>uni0423</key>
    <integer>-23</integer>
    <key>uni041B</key>
    <integer>-27</integer>
    <key>uni0414</key>
    <integer>-30</integer>
    <key>Y</key>
    <integer>-28</integer>
    <key>X</key>
    <integer>-27</integer>
    <key>T</key>
    <integer>-29</integer>
  </dict>
  <key>uni042C</key>
  <dict>
    <key>uni050F</key>
    <integer>-47</integer>
    <key>uni050E</key>
    <integer>-96</integer>
    <key>uni0506</key>
    <integer>-20</integer>
    <key>uni0504</key>
    <integer>-47</integer>
    <key>uni04BC</key>
    <integer>-33</integer>
    <key>uni04B8</key>
    <integer>-25</integer>
    <key>uni04A1</key>
    <integer>-50</integer>
    <key>uni0442</key>
    <integer>-49</integer>
    <key>uni042C</key>
    <integer>-61</integer>
    <key>uni0427</key>
    <integer>-25</integer>
    <key>uni0423</key>
    <integer>-21</integer>
    <key>uni041B</key>
    <integer>-11</integer>
    <key>x</key>
    <integer>-55</integer>
    <key>Y</key>
    <integer>-83</integer>
    <key>X</key>
    <integer>-16</integer>
    <key>V</key>
    <integer>-56</integer>
    <key>T</key>
    <integer>-267</integer>
    <key>quotesingle</key>
    <integer>-64</integer>
  </dict>
  <key>uni0429</key>
  <dict>
    <key>uni050F</key>
    <integer>-25</integer>
    <key>uni050E</key>
    <integer>-26</integer>
    <key>uni0506</key>
    <integer>-26</integer>
    <key>uni0504</key>
    <integer>-26</integer>
    <key>uni04B9</key>
    <integer>-24</integer>
    <key>uni04B8</key>
    <integer>-27</integer>
    <key>uni04A1</key>
    <integer>-25</integer>
    <key>uni0447</key>
    <integer>-24</integer>
    <key>uni0442</key>
    <integer>-25</integer>
    <key>uni043B</key>
    <integer>15</integer>
    <key>uni0434</key>
    <integer>18</integer>
    <key>uni042D</key>
    <integer>-12</integer>
    <key>uni042C</key>
    <integer>-26</integer>
    <key>uni0427</key>
    <integer>-27</integer>
    <key>uni0423</key>
    <integer>11</integer>
    <key>uni041B</key>
    <integer>14</integer>
    <key>uni0414</key>
    <integer>19</integer>
    <key>Y</key>
    <integer>-26</integer>
    <key>X</key>
    <integer>14</integer>
    <key>V</key>
    <integer>-26</integer>
    <key>T</key>
    <integer>-26</integer>
    <key>A</key>
    <integer>15</integer>
  </dict>
  <key>uni0423</key>
  <dict>
    <key>uni050E</key>
    <integer>17</integer>
    <key>uni050B</key>
    <integer>-33</integer>
    <key>uni0500</key>
    <integer>-67</integer>
    <key>uni04BD</key>
    <integer>-38</integer>
    <key>uni04B9</key>
    <integer>-23</integer>
    <key>uni04A7</key>
    <integer>-32</integer>
    <key>uni049D</key>
    <integer>-32</integer>
    <key>uni0491</key>
    <integer>-30</integer>
    <key>uni048F</key>
    <integer>-35</integer>
    <key>uni047B</key>
    <integer>-50</integer>
    <key>uni045F</key>
    <integer>-32</integer>
    <key>uni044F</key>
    <integer>-46</integer>
    <key>uni044B</key>
    <integer>-33</integer>
    <key>uni0447</key>
    <integer>-23</integer>
    <key>uni043B</key>
    <integer>-69</integer>
    <key>uni0437</key>
    <integer>-42</integer>
    <key>uni0434</key>
    <integer>-83</integer>
    <key>uni0432</key>
    <integer>-32</integer>
    <key>uni042C</key>
    <integer>18</integer>
    <key>uni041B</key>
    <integer>-54</integer>
    <key>uni0414</key>
    <integer>-82</integer>
    <key>s</key>
    <integer>-46</integer>
    <key>o</key>
    <integer>-67</integer>
    <key>n</key>
    <integer>-102</integer>
    <key>c</key>
    <integer>-67</integer>
    <key>a</key>
    <integer>-111</integer>
    <key>Y</key>
    <integer>18</integer>
    <key>T</key>
    <integer>18</integer>
    <key>O</key>
    <integer>-23</integer>
    <key>A</key>
    <integer>-91</integer>
    <key>period</key>
    <integer>-403</integer>
    <key>hyphen</key>
    <integer>-119</integer>
  </dict>
  <key>uni0417</key>
  <dict>
    <key>uni050E</key>
    <integer>-14</integer>
    <key>uni0506</key>
    <integer>-14</integer>
    <key>uni0504</key>
    <integer>-14</integer>
    <key>uni042C</key>
    <integer>-15</integer>
    <key>uni0423</key>
    <integer>-13</integer>
    <key>uni041B</key>
    <integer>-11</integer>
    <key>Y</key>
    <integer>-16</integer>
    <key>X</key>
    <integer>-12</integer>
    <key>V</key>
    <integer>-12</integer>
    <key>T</key>
    <integer>-15</integer>
    <key>seven</key>
    <integer>-14</integer>
  </dict>
  <key>uni0414</key>
  <dict>
    <key>uni0510</key>
    <integer>-14</integer>
    <key>uni050E</key>
    <integer>-33</integer>
    <key>uni0506</key>
    <integer>-34</integer>
    <key>uni0504</key>
    <integer>-33</integer>
    <key>uni04D8</key>
    <integer>-23</integer>
    <key>uni04BD</key>
    <integer>-31</integer>
    <key>uni04B9</key>
    <integer>-32</integer>
    <key>uni04B8</key>
    <integer>-31</integer>
    <key>uni0447</key>
    <integer>-32</integer>
    <key>uni043B</key>
    <integer>16</integer>
    <key>uni0434</key>
    <integer>19</integer>
    <key>uni042C</key>
    <integer>-32</integer>
    <key>uni0427</key>
    <integer>-31</integer>
    <key>uni041B</key>
    <integer>16</integer>
    <key>uni0414</key>
    <integer>20</integer>
    <key>Y</key>
    <integer>-33</integer>
    <key>V</key>
    <integer>-32</integer>
    <key>T</key>
    <integer>-32</integer>
    <key>O</key>
    <integer>-24</integer>
    <key>A</key>
    <integer>16</integer>
  </dict>
  <key>uni0411</key>
  <dict>
    <key>uni050F</key>
    <integer>-48</integer>
    <key>uni050E</key>
    <integer>-26</integer>
    <key>uni0506</key>
    <integer>-19</integer>
    <key>uni0504</key>
    <integer>-25</integer>
    <key>uni04B8</key>
    <integer>-24</integer>
    <key>uni04A1</key>
    <integer>-50</integer>
    <key>uni0442</key>
    <integer>-48</integer>
    <key>uni042C</key>
    <integer>-26</integer>
    <key>uni0427</key>
    <integer>-24</integer>
    <key>uni0423</key>
    <integer>-18</integer>
    <key>x</key>
    <integer>-15</integer>
    <key>Y</key>
    <integer>-25</integer>
    <key>X</key>
    <integer>-14</integer>
    <key>V</key>
    <integer>-25</integer>
    <key>T</key>
    <integer>-26</integer>
  </dict>
  <key>uni040B</key>
  <dict>
    <key>uni050F</key>
    <integer>-32</integer>
    <key>uni0505</key>
    <integer>-11</integer>
    <key>uni04BC</key>
    <integer>-23</integer>
    <key>uni04A1</key>
    <integer>-33</integer>
    <key>uni047F</key>
    <integer>-21</integer>
    <key>uni0461</key>
    <integer>-19</integer>
    <key>uni0442</key>
    <integer>-33</integer>
    <key>uni042C</key>
    <integer>-55</integer>
    <key>v</key>
    <integer>-17</integer>
    <key>T</key>
    <integer>-66</integer>
  </dict>
  <key>uni0402</key>
  <dict>
    <key>uni050F</key>
    <integer>-55</integer>
    <key>uni050E</key>
    <integer>-46</integer>
    <key>uni0506</key>
    <integer>-25</integer>
    <key>uni0505</key>
    <integer>-11</integer>
    <key>uni0504</key>
    <integer>-44</integer>
    <key>uni04B8</key>
    <integer>-31</integer>
    <key>uni04A1</key>
    <integer>-60</integer>
    <key>uni047F</key>
    <integer>-29</integer>
    <key>uni0461</key>
    <integer>-27</integer>
    <key>uni0442</key>
    <integer>-55</integer>
    <key>uni042C</key>
    <integer>-44</integer>
    <key>uni0427</key>
    <integer>-31</integer>
    <key>uni0423</key>
    <integer>-19</integer>
    <key>x</key>
    <integer>-17</integer>
    <key>v</key>
    <integer>-26</integer>
    <key>n</key>
    <integer>-47</integer>
    <key>Y</key>
    <integer>-45</integer>
    <key>X</key>
    <integer>-12</integer>
    <key>V</key>
    <integer>-44</integer>
    <key>T</key>
    <integer>-46</integer>
    <key>quotesingle</key>
    <integer>-54</integer>
  </dict>
  <key>omega</key>
  <dict>
    <key>z</key>
    <integer>-13</integer>
    <key>x</key>
    <integer>-14</integer>
    <key>v</key>
    <integer>-12</integer>
  </dict>
  <key>psi</key>
  <dict>
    <key>z</key>
    <integer>-14</integer>
    <key>x</key>
    <integer>-14</integer>
  </dict>
  <key>chi.alt</key>
  <dict>
    <key>omega</key>
    <integer>-17</integer>
    <key>chi.alt</key>
    <integer>15</integer>
    <key>phi</key>
    <integer>-15</integer>
    <key>epsilon</key>
    <integer>-14</integer>
    <key>delta</key>
    <integer>-18</integer>
    <key>o</key>
    <integer>-23</integer>
    <key>f</key>
    <integer>11</integer>
    <key>c</key>
    <integer>-21</integer>
    <key>quotesingle</key>
    <integer>11</integer>
  </dict>
  <key>phi</key>
  <dict>
    <key>uni0442</key>
    <integer>-86</integer>
    <key>chi.alt</key>
    <integer>-31</integer>
    <key>z</key>
    <integer>-19</integer>
    <key>x</key>
    <integer>-19</integer>
  </dict>
  <key>upsilon</key>
  <dict>
    <key>uni0442</key>
    <integer>-40</integer>
  </dict>
  <key>tau</key>
  <dict>
    <key>Y.smcp</key>
    <integer>13</integer>
    <key>V.smcp</key>
    <integer>13</integer>
    <key>T.smcp</key>
    <integer>14</integer>
    <key>S.smcp</key>
    <integer>-11</integer>
    <key>Q.smcp</key>
    <integer>-20</integer>
    <key>O.smcp</key>
    <integer>-19</integer>
    <key>G.smcp</key>
    <integer>-20</integer>
    <key>C.smcp</key>
    <integer>-18</integer>
    <key>A.smcp</key>
    <integer>-65</integer>
    <key>tau</key>
    <integer>12</integer>
    <key>pi</key>
    <integer>11</integer>
    <key>delta</key>
    <integer>-19</integer>
    <key>v</key>
    <integer>11</integer>
    <key>o</key>
    <integer>-22</integer>
    <key>f</key>
    <integer>12</integer>
    <key>c</key>
    <integer>-24</integer>
    <key>quotesingle</key>
    <integer>12</integer>
  </dict>
  <key>sigma</key>
  <dict>
    <key>tau</key>
    <integer>11</integer>
  </dict>
  <key>sigma1</key>
  <dict>
    <key>uni0442</key>
    <integer>-43</integer>
  </dict>
  <key>rho</key>
  <dict>
    <key>uni0442</key>
    <integer>-85</integer>
  </dict>
  <key>xi</key>
  <dict>
    <key>lambda</key>
    <integer>15</integer>
    <key>c</key>
    <integer>-25</integer>
  </dict>
  <key>lambda</key>
  <dict>
    <key>chi.alt</key>
    <integer>-38</integer>
    <key>tau</key>
    <integer>-224</integer>
    <key>pi</key>
    <integer>-20</integer>
    <key>lambda</key>
    <integer>16</integer>
    <key>theta</key>
    <integer>-18</integer>
    <key>v</key>
    <integer>-59</integer>
    <key>u</key>
    <integer>-15</integer>
    <key>f</key>
    <integer>-23</integer>
    <key>quotesingle</key>
    <integer>-96</integer>
  </dict>
  <key>iota</key>
  <dict>
    <key>phi</key>
    <integer>-25</integer>
    <key>tau</key>
    <integer>-60</integer>
    <key>pi</key>
    <integer>-22</integer>
    <key>lambda</key>
    <integer>15</integer>
    <key>theta</key>
    <integer>-20</integer>
    <key>v</key>
    <integer>-36</integer>
    <key>u</key>
    <integer>-17</integer>
    <key>c</key>
    <integer>-16</integer>
    <key>quotesingle</key>
    <integer>-38</integer>
  </dict>
  <key>zeta</key>
  <dict>
    <key>omega</key>
    <integer>-37</integer>
    <key>psi</key>
    <integer>-44</integer>
    <key>phi</key>
    <integer>-50</integer>
    <key>tau</key>
    <integer>-29</integer>
    <key>pi</key>
    <integer>-25</integer>
    <key>xi</key>
    <integer>-16</integer>
    <key>iota</key>
    <integer>-23</integer>
    <key>theta</key>
    <integer>-21</integer>
    <key>epsilon</key>
    <integer>-26</integer>
    <key>delta</key>
    <integer>-18</integer>
    <key>v</key>
    <integer>-31</integer>
    <key>u</key>
    <integer>-35</integer>
    <key>o</key>
    <integer>-42</integer>
    <key>n</key>
    <integer>-13</integer>
    <key>c</key>
    <integer>-36</integer>
  </dict>
  <key>delta</key>
  <dict>
    <key>uni0442</key>
    <integer>-64</integer>
    <key>chi.alt</key>
    <integer>-20</integer>
    <key>tau</key>
    <integer>-19</integer>
  </dict>
  <key>alpha</key>
  <dict>
    <key>lambda</key>
    <integer>14</integer>
  </dict>
  <key>Psi</key>
  <dict>
    <key>rho</key>
    <integer>-14</integer>
    <key>A</key>
    <integer>-51</integer>
    <key>period</key>
    <integer>-226</integer>
  </dict>
  <key>Phi</key>
  <dict>
    <key>lambda</key>
    <integer>-30</integer>
    <key>Y</key>
    <integer>-45</integer>
    <key>X</key>
    <integer>-46</integer>
    <key>A</key>
    <integer>-28</integer>
  </dict>
  <key>Sigma</key>
  <dict>
    <key>lambda</key>
    <integer>16</integer>
    <key>Phi</key>
    <integer>-62</integer>
    <key>O</key>
    <integer>-26</integer>
  </dict>
  <key>Xi</key>
  <dict>
    <key>lambda</key>
    <integer>13</integer>
    <key>O</key>
    <integer>-13</integer>
  </dict>
  <key>Gamma</key>
  <dict>
    <key>uni0510</key>
    <integer>-43</integer>
    <key>uni050F</key>
    <integer>-208</integer>
    <key>uni050E</key>
    <integer>5</integer>
    <key>uni050B</key>
    <integer>-246</integer>
    <key>uni0507</key>
    <integer>-161</integer>
    <key>uni0505</key>
    <integer>-207</integer>
    <key>uni0500</key>
    <integer>-273</integer>
    <key>uni04D8</key>
    <integer>-64</integer>
    <key>uni04BD</key>
    <integer>-271</integer>
    <key>uni04BC</key>
    <integer>-193</integer>
    <key>uni04B9</key>
    <integer>-244</integer>
    <key>uni04A7</key>
    <integer>-183</integer>
    <key>uni04A1</key>
    <integer>-150</integer>
    <key>uni049D</key>
    <integer>-242</integer>
    <key>uni0491</key>
    <integer>-196</integer>
    <key>uni048F</key>
    <integer>-235</integer>
    <key>uni047F</key>
    <integer>-84</integer>
    <key>uni047B</key>
    <integer>-196</integer>
    <key>uni0461</key>
    <integer>-239</integer>
    <key>uni045F</key>
    <integer>-242</integer>
    <key>uni044F</key>
    <integer>-249</integer>
    <key>uni044D</key>
    <integer>-237</integer>
    <key>uni044B</key>
    <integer>-242</integer>
    <key>uni0447</key>
    <integer>-244</integer>
    <key>uni0442</key>
    <integer>-152</integer>
    <key>uni043B</key>
    <integer>-241</integer>
    <key>uni0437</key>
    <integer>-237</integer>
    <key>uni0434</key>
    <integer>-258</integer>
    <key>uni0432</key>
    <integer>-183</integer>
    <key>uni0431</key>
    <integer>-67</integer>
    <key>uni042C</key>
    <integer>5</integer>
    <key>uni041B</key>
    <integer>-110</integer>
    <key>uni0414</key>
    <integer>-174</integer>
    <key>omega</key>
    <integer>-295</integer>
    <key>psi</key>
    <integer>-259</integer>
    <key>chi.alt</key>
    <integer>-167</integer>
    <key>phi</key>
    <integer>-275</integer>
    <key>tau</key>
    <integer>-186</integer>
    <key>rho</key>
    <integer>-283</integer>
    <key>pi</key>
    <integer>-225</integer>
    <key>iota</key>
    <integer>-280</integer>
    <key>epsilon</key>
    <integer>-241</integer>
    <key>delta</key>
    <integer>-113</integer>
    <key>Phi</key>
    <integer>-159</integer>
    <key>oslash</key>
    <integer>-181</integer>
    <key>ae</key>
    <integer>-213</integer>
    <key>AE</key>
    <integer>-324</integer>
    <key>guillemotright</key>
    <integer>-387</integer>
    <key>guillemotleft</key>
    <integer>-577</integer>
    <key>z</key>
    <integer>-122</integer>
    <key>x</key>
    <integer>-150</integer>
    <key>w</key>
    <integer>-116</integer>
    <key>v</key>
    <integer>-142</integer>
    <key>u</key>
    <integer>-181</integer>
    <key>s</key>
    <integer>-217</integer>
    <key>r</key>
    <integer>-147</integer>
    <key>o</key>
    <integer>-188</integer>
    <key>n</key>
    <integer>-205</integer>
    <key>c</key>
    <integer>-188</integer>
    <key>a</key>
    <integer>-212</integer>
    <key>Y</key>
    <integer>7</integer>
    <key>W</key>
    <integer>5</integer>
    <key>V</key>
    <integer>7</integer>
    <key>T</key>
    <integer>7</integer>
    <key>S</key>
    <integer>-47</integer>
    <key>O</key>
    <integer>-67</integer>
    <key>A</key>
    <integer>-194</integer>
    <key>period</key>
    <integer>-390</integer>
    <key>hyphen</key>
    <integer>-414</integer>
  </dict>
  <key>braceleft</key>
  <dict>
    <key>U</key>
    <integer>-20</integer>
    <key>J</key>
    <integer>-20</integer>
  </dict>
  <key>z</key>
  <dict>
    <key>o</key>
    <integer>-16</integer>
    <key>c</key>
    <integer>-16</integer>
  </dict>
  <key>x</key>
  <dict>
    <key>uni047B</key>
    <integer>-15</integer>
    <key>o</key>
    <integer>-20</integer>
    <key>c</key>
    <integer>-20</integer>
  </dict>
  <key>w</key>
  <dict>
    <key>period</key>
    <integer>-124</integer>
  </dict>
  <key>v</key>
  <dict>
    <key>uni047B</key>
    <integer>-15</integer>
    <key>uni043B</key>
    <integer>-41</integer>
    <key>uni0434</key>
    <integer>-56</integer>
    <key>tau</key>
    <integer>12</integer>
    <key>rho</key>
    <integer>-22</integer>
    <key>pi</key>
    <integer>11</integer>
    <key>delta</key>
    <integer>-11</integer>
    <key>o</key>
    <integer>-15</integer>
    <key>f</key>
    <integer>13</integer>
    <key>c</key>
    <integer>-13</integer>
    <key>a</key>
    <integer>-15</integer>
    <key>period</key>
    <integer>-107</integer>
    <key>quotesingle</key>
    <integer>15</integer>
  </dict>
  <key>t</key>
  <dict>
    <key>o</key>
    <integer>-20</integer>
  </dict>
  <key>r</key>
  <dict>
    <key>w</key>
    <integer>17</integer>
    <key>v</key>
    <integer>18</integer>
    <key>t</key>
    <integer>50</integer>
    <key>o</key>
    <integer>-20</integer>
    <key>f</key>
    <integer>15</integer>
    <key>c</key>
    <integer>-19</integer>
    <key>a</key>
    <integer>-40</integer>
    <key>period</key>
    <integer>-123</integer>
    <key>quotesingle</key>
    <integer>16</integer>
  </dict>
  <key>o</key>
  <dict>
    <key>quoteright</key>
    <integer>-80</integer>
    <key>uni050F</key>
    <integer>-20</integer>
    <key>uni0505</key>
    <integer>-11</integer>
    <key>uni04A1</key>
    <integer>-21</integer>
    <key>uni047F</key>
    <integer>-15</integer>
    <key>uni0461</key>
    <integer>-16</integer>
    <key>uni0442</key>
    <integer>-22</integer>
    <key>uni043B</key>
    <integer>-16</integer>
    <key>uni0434</key>
    <integer>-72</integer>
    <key>chi.alt</key>
    <integer>-22</integer>
    <key>tau</key>
    <integer>-22</integer>
    <key>z</key>
    <integer>-16</integer>
    <key>x</key>
    <integer>-21</integer>
    <key>v</key>
    <integer>-15</integer>
    <key>quotesingle</key>
    <integer>-136</integer>
  </dict>
  <key>n</key>
  <dict>
    <key>quoteright</key>
    <integer>-80</integer>
    <key>uni0442</key>
    <integer>-64</integer>
    <key>quotesingle</key>
    <integer>-104</integer>
  </dict>
  <key>k</key>
  <dict>
    <key>c</key>
    <integer>-20</integer>
  </dict>
  <key>f</key>
  <dict>
    <key>braceright</key>
    <integer>19</integer>
    <key>c</key>
    <integer>-24</integer>
    <key>bracketright</key>
    <integer>18</integer>
    <key>parenright</key>
    <integer>20</integer>
    <key>quotesingle</key>
    <integer>16</integer>
  </dict>
  <key>e</key>
  <dict>
    <key>quoteright</key>
    <integer>-80</integer>
    <key>uni0442</key>
    <integer>-11</integer>
    <key>v</key>
    <integer>-13</integer>
    <key>quotesingle</key>
    <integer>-14</integer>
  </dict>
  <key>c</key>
  <dict>
    <key>quotesingle</key>
    <integer>-11</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>uni050F</key>
    <integer>-20</integer>
    <key>uni04A1</key>
    <integer>-20</integer>
    <key>uni0442</key>
    <integer>-80</integer>
    <key>uni043B</key>
    <integer>-14</integer>
    <key>uni0434</key>
    <integer>-18</integer>
    <key>chi.alt</key>
    <integer>-24</integer>
    <key>tau</key>
    <integer>-22</integer>
    <key>z</key>
    <integer>-15</integer>
    <key>x</key>
    <integer>-15</integer>
    <key>v</key>
    <integer>-11</integer>
    <key>quotesingle</key>
    <integer>-29</integer>
  </dict>
  <key>a</key>
  <dict>
    <key>uni050F</key>
    <integer>-45</integer>
    <key>uni0507</key>
    <integer>-23</integer>
    <key>uni0505</key>
    <integer>-13</integer>
    <key>uni04A1</key>
    <integer>-15</integer>
    <key>uni047F</key>
    <integer>-13</integer>
    <key>uni0461</key>
    <integer>-15</integer>
    <key>uni0442</key>
    <integer>-16</integer>
    <key>v</key>
    <integer>-15</integer>
    <key>quotesingle</key>
    <integer>-67</integer>
  </dict>
  <key>bracketleft</key>
  <dict>
    <key>U</key>
    <integer>-18</integer>
    <key>J</key>
    <integer>-18</integer>
  </dict>
  <key>Z</key>
  <dict>
    <key>Q.smcp</key>
    <integer>-20</integer>
    <key>O.smcp</key>
    <integer>-20</integer>
    <key>G.smcp</key>
    <integer>-21</integer>
    <key>C.smcp</key>
    <integer>-19</integer>
    <key>A.smcp</key>
    <integer>13</integer>
    <key>psi</key>
    <integer>-28</integer>
    <key>Phi</key>
    <integer>-53</integer>
    <key>w</key>
    <integer>-27</integer>
    <key>v</key>
    <integer>-27</integer>
    <key>u</key>
    <integer>-19</integer>
    <key>o</key>
    <integer>-21</integer>
    <key>c</key>
    <integer>-21</integer>
    <key>O</key>
    <integer>-26</integer>
    <key>A</key>
    <integer>13</integer>
  </dict>
  <key>Y</key>
  <dict>
    <key>X.smcp</key>
    <integer>-17</integer>
    <key>W.smcp</key>
    <integer>-13</integer>
    <key>T.smcp</key>
    <integer>-13</integer>
    <key>Q.smcp</key>
    <integer>-53</integer>
    <key>O.smcp</key>
    <integer>-53</integer>
    <key>G.smcp</key>
    <integer>-53</integer>
    <key>C.smcp</key>
    <integer>-51</integer>
    <key>A.smcp</key>
    <integer>-85</integer>
    <key>bullet</key>
    <integer>-45</integer>
    <key>omega</key>
    <integer>-57</integer>
    <key>psi</key>
    <integer>-38</integer>
    <key>chi.alt</key>
    <integer>-24</integer>
    <key>phi</key>
    <integer>-53</integer>
    <key>tau</key>
    <integer>-23</integer>
    <key>rho</key>
    <integer>-70</integer>
    <key>pi</key>
    <integer>-24</integer>
    <key>iota</key>
    <integer>-42</integer>
    <key>theta</key>
    <integer>-23</integer>
    <key>zeta</key>
    <integer>13</integer>
    <key>epsilon</key>
    <integer>-58</integer>
    <key>delta</key>
    <integer>-18</integer>
    <key>beta</key>
    <integer>-22</integer>
    <key>Phi</key>
    <integer>-48</integer>
    <key>oslash</key>
    <integer>-64</integer>
    <key>ae</key>
    <integer>-63</integer>
    <key>AE</key>
    <integer>-96</integer>
    <key>guillemotright</key>
    <integer>-51</integer>
    <key>guillemotleft</key>
    <integer>-82</integer>
    <key>braceright</key>
    <integer>19</integer>
    <key>z</key>
    <integer>-30</integer>
    <key>x</key>
    <integer>-23</integer>
    <key>v</key>
    <integer>-20</integer>
    <key>u</key>
    <integer>-39</integer>
    <key>t</key>
    <integer>-22</integer>
    <key>s</key>
    <integer>-58</integer>
    <key>r</key>
    <integer>-40</integer>
    <key>o</key>
    <integer>-65</integer>
    <key>n</key>
    <integer>-40</integer>
    <key>f</key>
    <integer>-22</integer>
    <key>c</key>
    <integer>-65</integer>
    <key>a</key>
    <integer>-73</integer>
    <key>bracketright</key>
    <integer>18</integer>
    <key>Y</key>
    <integer>18</integer>
    <key>X</key>
    <integer>13</integer>
    <key>W</key>
    <integer>17</integer>
    <key>V</key>
    <integer>18</integer>
    <key>U</key>
    <integer>-96</integer>
    <key>T</key>
    <integer>17</integer>
    <key>S</key>
    <integer>-16</integer>
    <key>O</key>
    <integer>-29</integer>
    <key>J</key>
    <integer>-96</integer>
    <key>A</key>
    <integer>-94</integer>
    <key>period</key>
    <integer>-211</integer>
    <key>hyphen</key>
    <integer>-52</integer>
    <key>asterisk</key>
    <integer>-49</integer>
    <key>parenright</key>
    <integer>20</integer>
    <key>ampersand</key>
    <integer>-30</integer>
  </dict>
  <key>X</key>
  <dict>
    <key>Q.smcp</key>
    <integer>-23</integer>
    <key>O.smcp</key>
    <integer>-25</integer>
    <key>G.smcp</key>
    <integer>-25</integer>
    <key>C.smcp</key>
    <integer>-23</integer>
    <key>uni0510</key>
    <integer>-14</integer>
    <key>uni050F</key>
    <integer>-42</integer>
    <key>uni0506</key>
    <integer>12</integer>
    <key>uni0504</key>
    <integer>13</integer>
    <key>uni04D8</key>
    <integer>-25</integer>
    <key>uni04BD</key>
    <integer>-59</integer>
    <key>uni04BC</key>
    <integer>-42</integer>
    <key>uni04B9</key>
    <integer>-45</integer>
    <key>uni04A1</key>
    <integer>-41</integer>
    <key>uni0447</key>
    <integer>-47</integer>
    <key>uni0442</key>
    <integer>-41</integer>
    <key>uni043B</key>
    <integer>17</integer>
    <key>uni0431</key>
    <integer>-23</integer>
    <key>uni041B</key>
    <integer>17</integer>
    <key>uni0414</key>
    <integer>18</integer>
    <key>omega</key>
    <integer>-18</integer>
    <key>psi</key>
    <integer>-27</integer>
    <key>phi</key>
    <integer>-25</integer>
    <key>tau</key>
    <integer>-32</integer>
    <key>lambda</key>
    <integer>17</integer>
    <key>theta</key>
    <integer>-19</integer>
    <key>delta</key>
    <integer>-16</integer>
    <key>Phi</key>
    <integer>-44</integer>
    <key>v</key>
    <integer>-31</integer>
    <key>u</key>
    <integer>-21</integer>
    <key>o</key>
    <integer>-21</integer>
    <key>c</key>
    <integer>-26</integer>
    <key>V</key>
    <integer>14</integer>
    <key>O</key>
    <integer>-25</integer>
    <key>hyphen</key>
    <integer>-46</integer>
  </dict>
  <key>W</key>
  <dict>
    <key>Q.smcp</key>
    <integer>-25</integer>
    <key>O.smcp</key>
    <integer>-25</integer>
    <key>G.smcp</key>
    <integer>-25</integer>
    <key>C.smcp</key>
    <integer>-23</integer>
    <key>A.smcp</key>
    <integer>-53</integer>
    <key>braceright</key>
    <integer>14</integer>
    <key>u</key>
    <integer>-19</integer>
    <key>r</key>
    <integer>-21</integer>
    <key>o</key>
    <integer>-31</integer>
    <key>c</key>
    <integer>-31</integer>
    <key>a</key>
    <integer>-33</integer>
    <key>bracketright</key>
    <integer>12</integer>
    <key>T</key>
    <integer>14</integer>
    <key>A</key>
    <integer>-43</integer>
    <key>period</key>
    <integer>-123</integer>
    <key>hyphen</key>
    <integer>-60</integer>
    <key>parenright</key>
    <integer>15</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>Q.smcp</key>
    <integer>-39</integer>
    <key>O.smcp</key>
    <integer>-39</integer>
    <key>G.smcp</key>
    <integer>-39</integer>
    <key>C.smcp</key>
    <integer>-39</integer>
    <key>A.smcp</key>
    <integer>-76</integer>
    <key>braceright</key>
    <integer>19</integer>
    <key>v</key>
    <integer>-11</integer>
    <key>u</key>
    <integer>-28</integer>
    <key>r</key>
    <integer>-30</integer>
    <key>o</key>
    <integer>-46</integer>
    <key>c</key>
    <integer>-44</integer>
    <key>a</key>
    <integer>-46</integer>
    <key>bracketright</key>
    <integer>17</integer>
    <key>O</key>
    <integer>-13</integer>
    <key>A</key>
    <integer>-75</integer>
    <key>period</key>
    <integer>-225</integer>
    <key>hyphen</key>
    <integer>-37</integer>
    <key>parenright</key>
    <integer>20</integer>
  </dict>
  <key>U</key>
  <dict>
    <key>A.smcp</key>
    <integer>-21</integer>
    <key>A</key>
    <integer>-22</integer>
  </dict>
  <key>T</key>
  <dict>
    <key>X.smcp</key>
    <integer>-19</integer>
    <key>W.smcp</key>
    <integer>-15</integer>
    <key>T.smcp</key>
    <integer>-15</integer>
    <key>S.smcp</key>
    <integer>-68</integer>
    <key>Q.smcp</key>
    <integer>-71</integer>
    <key>O.smcp</key>
    <integer>-71</integer>
    <key>G.smcp</key>
    <integer>-71</integer>
    <key>C.smcp</key>
    <integer>-71</integer>
    <key>A.smcp</key>
    <integer>-81</integer>
    <key>uni0510</key>
    <integer>-14</integer>
    <key>uni050F</key>
    <integer>-111</integer>
    <key>uni050E</key>
    <integer>15</integer>
    <key>uni050B</key>
    <integer>-133</integer>
    <key>uni0507</key>
    <integer>-83</integer>
    <key>uni0505</key>
    <integer>-110</integer>
    <key>uni0500</key>
    <integer>-149</integer>
    <key>uni04D8</key>
    <integer>-26</integer>
    <key>uni04BD</key>
    <integer>-148</integer>
    <key>uni04BC</key>
    <integer>-102</integer>
    <key>uni04B9</key>
    <integer>-132</integer>
    <key>uni04A7</key>
    <integer>-96</integer>
    <key>uni04A1</key>
    <integer>-77</integer>
    <key>uni049D</key>
    <integer>-131</integer>
    <key>uni0491</key>
    <integer>-104</integer>
    <key>uni048F</key>
    <integer>-127</integer>
    <key>uni047F</key>
    <integer>-38</integer>
    <key>uni047B</key>
    <integer>-104</integer>
    <key>uni0461</key>
    <integer>-129</integer>
    <key>uni045F</key>
    <integer>-131</integer>
    <key>uni044F</key>
    <integer>-135</integer>
    <key>uni044D</key>
    <integer>-128</integer>
    <key>uni044B</key>
    <integer>-131</integer>
    <key>uni0447</key>
    <integer>-132</integer>
    <key>uni0442</key>
    <integer>-78</integer>
    <key>uni043B</key>
    <integer>-130</integer>
    <key>uni0437</key>
    <integer>-128</integer>
    <key>uni0434</key>
    <integer>-140</integer>
    <key>uni0432</key>
    <integer>-96</integer>
    <key>uni0431</key>
    <integer>-28</integer>
    <key>uni042C</key>
    <integer>15</integer>
    <key>uni041B</key>
    <integer>-53</integer>
    <key>uni0414</key>
    <integer>-91</integer>
    <key>omega</key>
    <integer>-162</integer>
    <key>psi</key>
    <integer>-141</integer>
    <key>chi.alt</key>
    <integer>-87</integer>
    <key>phi</key>
    <integer>-150</integer>
    <key>tau</key>
    <integer>-98</integer>
    <key>rho</key>
    <integer>-155</integer>
    <key>pi</key>
    <integer>-121</integer>
    <key>iota</key>
    <integer>-153</integer>
    <key>epsilon</key>
    <integer>-130</integer>
    <key>delta</key>
    <integer>-55</integer>
    <key>Phi</key>
    <integer>-82</integer>
    <key>oslash</key>
    <integer>-95</integer>
    <key>ae</key>
    <integer>-114</integer>
    <key>AE</key>
    <integer>-179</integer>
    <key>guillemotright</key>
    <integer>-216</integer>
    <key>guillemotleft</key>
    <integer>-328</integer>
    <key>z</key>
    <integer>-60</integer>
    <key>x</key>
    <integer>-77</integer>
    <key>w</key>
    <integer>-57</integer>
    <key>v</key>
    <integer>-72</integer>
    <key>u</key>
    <integer>-95</integer>
    <key>s</key>
    <integer>-116</integer>
    <key>r</key>
    <integer>-75</integer>
    <key>o</key>
    <integer>-99</integer>
    <key>n</key>
    <integer>-109</integer>
    <key>c</key>
    <integer>-99</integer>
    <key>a</key>
    <integer>-113</integer>
    <key>Y</key>
    <integer>16</integer>
    <key>W</key>
    <integer>15</integer>
    <key>V</key>
    <integer>16</integer>
    <key>T</key>
    <integer>16</integer>
    <key>S</key>
    <integer>-16</integer>
    <key>O</key>
    <integer>-28</integer>
    <key>J</key>
    <integer>-240</integer>
    <key>A</key>
    <integer>-79</integer>
    <key>period</key>
    <integer>-218</integer>
    <key>hyphen</key>
    <integer>-232</integer>
    <key>space</key>
    <integer>-40</integer>
  </dict>
  <key>R</key>
  <dict>
    <key>Y</key>
    <integer>-48</integer>
    <key>V</key>
    <integer>-19</integer>
    <key>T</key>
    <integer>-80</integer>
  </dict>
  <key>Q</key>
  <dict>
    <key>A.smcp</key>
    <integer>14</integer>
    <key>Y</key>
    <integer>-35</integer>
    <key>W</key>
    <integer>-20</integer>
    <key>V</key>
    <integer>-28</integer>
    <key>T</key>
    <integer>-43</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>A.smcp</key>
    <integer>-58</integer>
    <key>uni0500</key>
    <integer>-29</integer>
    <key>uni043B</key>
    <integer>-39</integer>
    <key>uni0434</key>
    <integer>-54</integer>
    <key>uni041B</key>
    <integer>-55</integer>
    <key>uni0414</key>
    <integer>-88</integer>
    <key>rho</key>
    <integer>-27</integer>
    <key>lambda</key>
    <integer>-34</integer>
    <key>delta</key>
    <integer>-11</integer>
    <key>AE</key>
    <integer>-97</integer>
    <key>v</key>
    <integer>15</integer>
    <key>t</key>
    <integer>14</integer>
    <key>o</key>
    <integer>-13</integer>
    <key>c</key>
    <integer>-13</integer>
    <key>a</key>
    <integer>-11</integer>
    <key>Z</key>
    <integer>-26</integer>
    <key>X</key>
    <integer>-31</integer>
    <key>J</key>
    <integer>-200</integer>
    <key>A</key>
    <integer>-138</integer>
    <key>period</key>
    <integer>-324</integer>
  </dict>
  <key>O</key>
  <dict>
    <key>X.smcp</key>
    <integer>-11</integer>
    <key>A.smcp</key>
    <integer>-19</integer>
    <key>uni050E</key>
    <integer>-32</integer>
    <key>uni042C</key>
    <integer>-32</integer>
    <key>uni041B</key>
    <integer>-31</integer>
    <key>uni0414</key>
    <integer>-33</integer>
    <key>lambda</key>
    <integer>-22</integer>
    <key>Sigma</key>
    <integer>-16</integer>
    <key>Xi</key>
    <integer>-13</integer>
    <key>AE</key>
    <integer>-33</integer>
    <key>Z</key>
    <integer>-23</integer>
    <key>Y</key>
    <integer>-43</integer>
    <key>X</key>
    <integer>-22</integer>
    <key>V</key>
    <integer>-22</integer>
    <key>T</key>
    <integer>-27</integer>
    <key>A</key>
    <integer>-21</integer>
    <key>period</key>
    <integer>-102</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>Y.smcp</key>
    <integer>-193</integer>
    <key>W.smcp</key>
    <integer>-111</integer>
    <key>V.smcp</key>
    <integer>-172</integer>
    <key>U.smcp</key>
    <integer>-38</integer>
    <key>T.smcp</key>
    <integer>-197</integer>
    <key>Q.smcp</key>
    <integer>-15</integer>
    <key>O.smcp</key>
    <integer>-14</integer>
    <key>G.smcp</key>
    <integer>-15</integer>
    <key>C.smcp</key>
    <integer>-13</integer>
    <key>A.smcp</key>
    <integer>19</integer>
    <key>w</key>
    <integer>-92</integer>
    <key>v</key>
    <integer>-133</integer>
    <key>u</key>
    <integer>-44</integer>
    <key>Y</key>
    <integer>-239</integer>
    <key>W</key>
    <integer>-143</integer>
    <key>V</key>
    <integer>-175</integer>
    <key>U</key>
    <integer>-54</integer>
    <key>T</key>
    <integer>-275</integer>
    <key>O</key>
    <integer>-65</integer>
    <key>A</key>
    <integer>19</integer>
    <key>quotesingle</key>
    <integer>-336</integer>
  </dict>
  <key>K</key>
  <dict>
    <key>Q.smcp</key>
    <integer>-25</integer>
    <key>O.smcp</key>
    <integer>-25</integer>
    <key>G.smcp</key>
    <integer>-26</integer>
    <key>C.smcp</key>
    <integer>-24</integer>
    <key>uni0510</key>
    <integer>-17</integer>
    <key>uni050F</key>
    <integer>-53</integer>
    <key>uni0507</key>
    <integer>-52</integer>
    <key>uni0505</key>
    <integer>-52</integer>
    <key>uni04D8</key>
    <integer>-28</integer>
    <key>uni04B9</key>
    <integer>-59</integer>
    <key>uni04A1</key>
    <integer>-96</integer>
    <key>uni047F</key>
    <integer>-56</integer>
    <key>uni047B</key>
    <integer>-46</integer>
    <key>uni0461</key>
    <integer>-78</integer>
    <key>uni0447</key>
    <integer>-93</integer>
    <key>uni0442</key>
    <integer>-71</integer>
    <key>uni0431</key>
    <integer>-41</integer>
    <key>tau</key>
    <integer>-76</integer>
    <key>Phi</key>
    <integer>-59</integer>
    <key>w</key>
    <integer>-63</integer>
    <key>v</key>
    <integer>-40</integer>
    <key>u</key>
    <integer>-23</integer>
    <key>o</key>
    <integer>-27</integer>
    <key>n</key>
    <integer>-23</integer>
    <key>c</key>
    <integer>-26</integer>
    <key>O</key>
    <integer>-31</integer>
    <key>hyphen</key>
    <integer>-64</integer>
  </dict>
  <key>H</key>
  <dict>
    <key>uni050E</key>
    <integer>-28</integer>
    <key>uni0506</key>
    <integer>-30</integer>
    <key>uni0504</key>
    <integer>-29</integer>
    <key>uni04BC</key>
    <integer>-28</integer>
    <key>uni04B9</key>
    <integer>-27</integer>
    <key>uni04B8</key>
    <integer>-28</integer>
    <key>uni0447</key>
    <integer>-27</integer>
    <key>uni043B</key>
    <integer>17</integer>
    <key>uni0434</key>
    <integer>21</integer>
    <key>uni0427</key>
    <integer>-28</integer>
    <key>uni041B</key>
    <integer>17</integer>
    <key>uni0414</key>
    <integer>21</integer>
    <key>Y</key>
    <integer>-28</integer>
    <key>X</key>
    <integer>17</integer>
    <key>T</key>
    <integer>-29</integer>
    <key>A</key>
    <integer>18</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>A.smcp</key>
    <integer>-64</integer>
    <key>v</key>
    <integer>-24</integer>
    <key>u</key>
    <integer>-22</integer>
    <key>r</key>
    <integer>-26</integer>
    <key>o</key>
    <integer>-21</integer>
    <key>c</key>
    <integer>-21</integer>
    <key>a</key>
    <integer>-34</integer>
    <key>T</key>
    <integer>20</integer>
    <key>J</key>
    <integer>-264</integer>
    <key>A</key>
    <integer>-170</integer>
    <key>period</key>
    <integer>-234</integer>
  </dict>
  <key>E</key>
  <dict>
    <key>Y.smcp</key>
    <integer>-16</integer>
    <key>W.smcp</key>
    <integer>-19</integer>
    <key>V.smcp</key>
    <integer>-16</integer>
    <key>w</key>
    <integer>-22</integer>
    <key>v</key>
    <integer>-26</integer>
    <key>u</key>
    <integer>-17</integer>
    <key>o</key>
    <integer>-19</integer>
    <key>f</key>
    <integer>-18</integer>
    <key>c</key>
    <integer>-19</integer>
    <key>T</key>
    <integer>20</integer>
  </dict>
  <key>C</key>
  <dict>
    <key>uni04BD</key>
    <integer>-19</integer>
    <key>braceright</key>
    <integer>-17</integer>
    <key>bracketright</key>
    <integer>-12</integer>
    <key>T</key>
    <integer>-29</integer>
    <key>parenright</key>
    <integer>-26</integer>
  </dict>
  <key>B</key>
  <dict>
    <key>uni050E</key>
    <integer>-26</integer>
    <key>uni046A</key>
    <integer>11</integer>
    <key>uni0423</key>
    <integer>-13</integer>
    <key>Y</key>
    <integer>-55</integer>
    <key>V</key>
    <integer>-24</integer>
    <key>T</key>
    <integer>-27</integer>
  </dict>
  <key>A</key>
  <dict>
    <key>Y.smcp</key>
    <integer>-60</integer>
    <key>W.smcp</key>
    <integer>-35</integer>
    <key>V.smcp</key>
    <integer>-51</integer>
    <key>U.smcp</key>
    <integer>-15</integer>
    <key>T.smcp</key>
    <integer>-57</integer>
    <key>O.smcp</key>
    <integer>-11</integer>
    <key>G.smcp</key>
    <integer>-11</integer>
    <key>uni050F</key>
    <integer>-116</integer>
    <key>uni050E</key>
    <integer>-177</integer>
    <key>uni0506</key>
    <integer>-54</integer>
    <key>uni0504</key>
    <integer>-139</integer>
    <key>uni04D8</key>
    <integer>-14</integer>
    <key>uni04BD</key>
    <integer>-35</integer>
    <key>uni04BC</key>
    <integer>-54</integer>
    <key>uni04B9</key>
    <integer>-133</integer>
    <key>uni04B8</key>
    <integer>-175</integer>
    <key>uni04A1</key>
    <integer>-97</integer>
    <key>uni0447</key>
    <integer>-113</integer>
    <key>uni0442</key>
    <integer>-54</integer>
    <key>uni043B</key>
    <integer>18</integer>
    <key>uni042C</key>
    <integer>-59</integer>
    <key>uni0427</key>
    <integer>-55</integer>
    <key>uni041B</key>
    <integer>17</integer>
    <key>uni0414</key>
    <integer>19</integer>
    <key>tau</key>
    <integer>-56</integer>
    <key>lambda</key>
    <integer>17</integer>
    <key>Psi</key>
    <integer>-47</integer>
    <key>Phi</key>
    <integer>-27</integer>
    <key>Uhorn</key>
    <integer>-18</integer>
    <key>z</key>
    <integer>12</integer>
    <key>w</key>
    <integer>-33</integer>
    <key>v</key>
    <integer>-50</integer>
    <key>u</key>
    <integer>-11</integer>
    <key>t</key>
    <integer>-17</integer>
    <key>o</key>
    <integer>-12</integer>
    <key>Y</key>
    <integer>-94</integer>
    <key>W</key>
    <integer>-69</integer>
    <key>V</key>
    <integer>-87</integer>
    <key>U</key>
    <integer>-17</integer>
    <key>T</key>
    <integer>-129</integer>
    <key>O</key>
    <integer>-11</integer>
    <key>question</key>
    <integer>-61</integer>
    <key>quotesingle</key>
    <integer>-120</integer>
  </dict>
  <key>slash</key>
  <dict>
    <key>slash</key>
    <integer>-224</integer>
  </dict>
  <key>period</key>
  <dict>
    <key>quotesingle</key>
    <integer>-170</integer>
  </dict>
  <key>parenleft</key>
  <dict>
    <key>Y</key>
    <integer>22</integer>
    <key>W</key>
    <integer>18</integer>
    <key>V</key>
    <integer>20</integer>
  </dict>
  <key>quotesingle</key>
  <dict>
    <key>w</key>
    <integer>11</integer>
    <key>s</key>
    <integer>-80</integer>
    <key>o</key>
    <integer>-61</integer>
    <key>n</key>
    <integer>-20</integer>
    <key>c</key>
    <integer>-59</integer>
    <key>a</key>
    <integer>-50</integer>
    <key>A</key>
    <integer>-120</integer>
    <key>quotesingle</key>
    <integer>-107</integer>
  </dict>
  <key>space</key>
  <dict>
    <key>T</key>
    <integer>-40</integer>
  </dict>
</dict>
</plist>
